@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.home {
	margin-top: $distance-lg;

	.xs & {
		margin-top: $distance-sm;
	}

	.md & {
		margin-top: 24px;
	}
}

.home__featured {
	@include clearfix();
	padding-bottom: $distance-sm;

	.md & {
		padding-bottom: 0;
	}
}

.home__categories {
	@include clearfix();
}
