@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.home {
	margin-top: $distance-lg;

	.xs & {
		margin-top: $distance-sm;
	}

	.md & {
		margin-top: 24px;
	}
}

.home__featured {
	@include clearfix();
	padding-bottom: $distance-md;

	promo-slot:last-child .promo-slot--horizontal {
		margin-right: 0;
	}

	.md & {
		padding-bottom: 16px;
	}

	.xs & {
		padding-bottom: 0;
	}
}

.home__categories {
	@include clearfix();
}
