<div class="home container">
	<div class="home__featured">
		<promo-slot
			layout="horizontal"
			featured-item="$ctrl.featuredItem1">
		</promo-slot>
		<search-tile></search-tile>
	</div>
	<div class="home__categories">
		<promo-slot
			layout="vertical"
			featured-item="$ctrl.featuredItem2">
		</promo-slot>
	    <category-tiles
	        layout="$ctrl.categoriesLayout"
	        categories="$ctrl.categories"
			featured-category="$ctrl.featuredItem7">
	    </category-tiles>
	</div>
    <playlist-tiles
        layout="$ctrl.playlistsLayout"
        playlists="$ctrl.lowerPromoPlaylists">
    </playlist-tiles>
</div>
