<div class="home container">
	<div class="home__featured">
		<promo-slot
			layout="horizontal"
			featured-item="$ctrl.featuredItem1">
		</promo-slot>
		<promo-slot
			layout="horizontal"
			featured-item="$ctrl.featuredItem8">
		</promo-slot>
	</div>
	<div class="home__categories">
	    <category-tiles
	        layout="$ctrl.categoriesLayout"
	        categories="$ctrl.categories"
			featured-category-1="$ctrl.featuredItem2"
			featured-category-2="$ctrl.featuredItem7">
	    </category-tiles>
	</div>
    <playlist-tiles
        layout="$ctrl.playlistsLayout"
        playlists="$ctrl.lowerPromoPlaylists">
    </playlist-tiles>
</div>
