<div
    class="categories-dropdown-wrapper container"
    ng-show="$ctrl.isShown"
	click-outside="$ctrl.closeDropdown()">
    <div class="categories-dropdown">
		<span
			class="icon-close-white--rounded"
			ng-click="$ctrl.closeDropdown()"></span>
        <ul class="categories-dropdown__list">
            <li
                class="categories-list__item"
                ng-repeat="category in ::$ctrl.categories">
                <a
                    class="categories-list__link"
                    ui-sref="category(category.stateParams)">
                    {{::category.name}}
                </a>
            </li>
        </ul>
    </div>
</div>
