<div
    class="categories-dropdown-wrapper container animated"
    ng-show="$ctrl.isShown"
	click-outside="$ctrl.closeDropdown()">
	<div class="categories-dropdown__connector"></div>
    <div class="categories-dropdown">
		<div
			class="icon-close__wrapper"
			ng-click="$ctrl.closeDropdown()">
			<span class="icon-close-white--rounded">

			</span>
		</div>
        <ul class="categories-dropdown__list">
            <li
                class="categories-list__item"
				ng-class="{
					'categories-list__item--active': $root.$state.params.l1 === category.slug
				}"
                ng-repeat="category in ::$ctrl.categories">
                <a
                    class="categories-list__link"
                    ui-sref="category(category.stateParams)">
                    {{::category.name}}
                </a>
            </li>
        </ul>
    </div>
</div>
