{
    "root": true,
	"plugins": ["standard", "promise", "angular"],
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	},
	"extend": "standard/angular",
	"rules": {
	    "indent": ["error", "tab"],
	    "no-useless-constructor": 0,
		"object-property-newline": [2, { "allowMultiplePropertiesPerLine": true }],
		"operator-linebreak": [2, "after", { "overrides": { "?": "after", ":": "after" } }],
		"quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
		"rest-spread-spacing": [2, "never"],
		"semi": ["error", "always"]
	},
	"globals" : {
		"jasmine": true,
		"describe": true,
		"xdescribe": true,
		"before": true,
		"beforeEach": true,
		"after": true,
		"afterEach": true,
		"it": true,
		"xit": true,
		"inject": true,
		"expect": true,
		"spyOn": true
	}
}
