.search-results__title {
	text-transform: uppercase;
	width: 792px;
	float: left;

	.xs & {
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
		font-size: 18px;
	}
}

.search-results__searched {
	text-transform: none;
	font-weight: 400;
}

.search-results__sort {
	float: left;
}
