.search-results__title {
	text-transform: uppercase;
	width: 792px;
	float: left;

	.xs & {
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
		font-size: 18px;
	}

	.sm & {
		width: auto;
		padding: 0 2vw;
		box-sizing: border-box;
		font-size: 21px;
		float: left;
		max-width: 60%;
	}

	.md & {
		max-width: 60%;
		padding-left: 2%;
		box-sizing: border-box;
	}
}

.search-results__searched {
	text-transform: none;
	font-weight: 400;

	.sm &,
	.md & {
		display: block;
	}
}

.search-results__sort {
	float: left;
}
