@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

$music-provider-dropdown-width: 680px;
$music-provider-dropdown-width--md: 768px;
$music-provider-dropdown-height: 300px;
$music-provider-dropdown-width--xs: 100%;
$music-provider-dropdown-height--xs: auto;

.music-provider-dropdown {
	@include position-absolute(96px, auto, auto, 61px);
	animation: fade-in .5s;
	font-size: initial;
	background-color: $grey-7;
    z-index: $z-index-6;
	height: $music-provider-dropdown-height;
	width: $music-provider-dropdown-width;
	line-height: initial;
	font-weight: 400;
	padding: $distance-md $distance-lg $distance-lg;
	box-sizing: border-box;

	.xs & {
		top: 46px;
		left: auto;
		width: $music-provider-dropdown-width--xs;
	    height: $music-provider-dropdown-height--xs;
		padding: 6%;
		padding-bottom: 100px;
	}

	.sm & {
		top: calc(41px + 1vw);
		left: auto;
		width: $music-provider-dropdown-width--xs;
	    height: $music-provider-dropdown-height--xs;
		padding: 4%;
		padding-bottom: 100px;
	}

	.md & {
		width: $music-provider-dropdown-width--md;
		top: 70px;
		left: 0;
	}

	&.ng-hide-add {
		z-index: 10;
  		animation: fade-out .5s;
	}
}

.music-provider-dropdown__connector {
	@include position-absolute(auto, auto, 100%, 0);
	height: 40px;
	width: 224px;
	background: $grey-7;

	.xs & {
		left: 39px;
		width: 158px;
		height: 10px;
	}

	.sm & {
		left: 45px;
		width: 190px;
		height: 1vw;
	}

	.md & {
		left: 50px;
		width: 200px;
		height: 24px;
	}

	.nav--provider-selected & {
		.xs & {
			width: 110px;
		}
	}
}

.music-provider-dropdown__title {
	color: $white;
	margin: 0 0 3 * $distance-sm;

	&::first-letter {
		text-transform: uppercase;
	}

	.xs & {
		padding-right: 30px;
		font-size: 27px;
	}
}
