<div
	class="music-provider-dropdown animated"
	click-outside="$ctrl.closeDropdown()"
	ng-show="$ctrl.isShown">
	<div
		class="music-provider-dropdown__connector"
		ng-class="{
			'music-provider-dropdown__connector--provider-selected': $ctrl.poviderIsSet
		}">
	</div>
	<p
		class="music-provider-dropdown__title text--xl"
		translate="{{::'SELECT_MUSIC'}}">
	</p>
	<span
		class="icon-close-white--rounded"
		ng-click="$ctrl.closeDropdown()">
	</span>
	<music-providers
		ng-if="$ctrl.isShown"
		on-save="$ctrl.closeDropdown()">
	</music-providers>
</div>
