<div class="playlist">
	<playlist-header
		playlist="$ctrl.playlist"
		show-player="$ctrl.showPlayer()"
	>
	</playlist-header>

	<track-list
		tracks="$ctrl.playlist.tracks.data">
	</track-list>

	<playlist-tags
		tags="$ctrl.tags">
	</playlist-tags>

	<div ng-if="$ctrl.musicProvider == 'DEEZER'" ng-show="$ctrl.playerShown">
		<player-custom
			popup="false"
			hide-player="$ctrl.hidePlayer()"
			player-shown="$ctrl.playerShown"
		>
		</player-custom>
	</div>

	<div ng-if="$ctrl.musicProvider == 'SPOTIFY'" ng-show="$ctrl.playerShown">
		<player-spotify
			popup="false"
			hide-player="$ctrl.hidePlayer()"
			player-shown="$ctrl.playerShown"
		>
		</player-spotify>
	</div>

</div>
