<div class="player-custom container">

	<div class="player-custom__track-info">
		<div class="player-custom__track-thumbnail-container">
			<img class="player-custom__track-thumbnail" ng-src="https://api.deezer.com/album/{{$ctrl.track.albumId}}'/image" ng-show="$ctrl.track.albumId != null" />
		</div>
		<div class="player-custom__track-description">
			<div class="player-custom__track-artist">{{$ctrl.track.artist}}</div>
			<div class="player-custom__track-album">{{$ctrl.track.album}}</div>
			<div class="player-custom__track-name">{{$ctrl.track.title}}</div>
		</div>
		<div class="player-custom__rwd-controls-container">
			<div class="player-custom__main-buttons-rwd">
				<div ng-click="$ctrl.prev();" class="player-custom__previous-button"></div>
				<div ng-click="$ctrl.play();" ng-show="!$ctrl.isPlayingTrack" class="player-custom__play-button"></div>
				<div ng-click="$ctrl.pause();" ng-show="$ctrl.isPlayingTrack" class="player-custom__pause-button"></div>
				<div ng-click="$ctrl.next();" class="player-custom__next-button"></div>
			</div>
			<div class="player-custom__secondary-buttons-rwd">
				<div ng-click="$ctrl.showPopup();" class="player-custom__popup-button" ng-show="!$ctrl.popup"></div>
				<div ng-click="$ctrl.shuffle();" class="player-custom__shuffle-button" ng-class="{active: $ctrl.isShuffling}"></div>
				<div ng-click="$ctrl.repeat();" class="player-custom__repeat-button" ng-class="{active: $ctrl.isRepeating}"></div>
				<div ng-click="$ctrl.mute();" class="player-custom__mute-button" ng-class="{active: $ctrl.isMuted}"></div>
				<div class="player-custom__volume-bar" ng-click="$ctrl.setVolume($event)">
					<div class="player-custom__volume-completed-container">
						<div class="player-custom__volume-completed" ng-style="{width: ($ctrl.isMuted ? '0%' : $ctrl.volume + '%')}">
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>

	<div class="player-custom__controls">
		<div class="player-custom__main-buttons">
			<div ng-click="$ctrl.prev();" class="player-custom__previous-button"></div>
			<div ng-click="$ctrl.play();" ng-show="!$ctrl.isPlayingTrack" class="player-custom__play-button"></div>
			<div ng-click="$ctrl.pause();" ng-show="$ctrl.isPlayingTrack" class="player-custom__pause-button"></div>
			<div ng-click="$ctrl.next();" class="player-custom__next-button"></div>
		</div>
		<div class="player-custom__slider">
			<div class="player-custom__slider-min">{{$ctrl.track.completedMinutes + ":" + $ctrl.track.completedSeconds}}</div>
			<div class="player-custom__slider-bar" ng-click="$ctrl.setPercent($event)">
				<div class="player-custom__slider-completed-container">
					<div class="player-custom__slider-completed" ng-style="{width: $ctrl.percent + '%'}">
					</div>
				</div>
				<div class="player-custom__slider-handler" ng-style="{left: $ctrl.percent + '%'}">
				</div>
			</div>
			<div class="player-custom__slider-max">{{$ctrl.track.minutes + ":" + $ctrl.track.seconds}}</div>
		</div>
	</div>
	<div class="player-custom__secondary-buttons">
		<div ng-click="$ctrl.showPopup();" class="player-custom__popup-button" ng-show="!$ctrl.popup"></div>
		<div ng-click="$ctrl.shuffle();" class="player-custom__shuffle-button" ng-class="{active: $ctrl.isShuffling}"></div>
		<div ng-click="$ctrl.repeat();" class="player-custom__repeat-button" ng-class="{active: $ctrl.isRepeating}"></div>
		<div ng-click="$ctrl.mute();" class="player-custom__mute-button" ng-class="{active: $ctrl.isMuted}"></div>
		<div class="player-custom__volume-bar" ng-click="$ctrl.setVolume($event)">
			<div class="player-custom__volume-completed-container">
				<div class="player-custom__volume-completed" ng-style="{width: ($ctrl.isMuted ? '0%' : $ctrl.volume + '%')}">
				</div>
			</div>
		</div>
	</div>
	<div class="player-custom__tracklist">
		<track-list
			tracks="$ctrl.playlist.tracks.data"
			track-title-click-callback="$ctrl.playTrackOfPlaylist()">
		</track-list>
	</div>
</div>
