<div
	class="player-custom"
	ng-class="{
		'player-custom--minified': $ctrl.isPlayerMinified,
		'player-custom--popup': $ctrl.popup,
		'player-custom--maximized': $ctrl.isMaximized
	}">
	<div class="player-custom__inner-wrapper">
		<div class="player-custom__widget-controls--maximized" ng-if="!!$ctrl.playlist">
			<div
				class="player-custom__popup-button"
				ng-click="$ctrl.showPopup()"
				ng-show="!$ctrl.popup">
			</div>
			<div
				class="player-custom__toggle-button"
				ng-click="$ctrl.toggle()"
				ng-class="{active: $ctrl.isPlayerMinified}">
			</div>
			<div
				class="player-custom__maximize-button"
				ng-click="$ctrl.maximize()"
				ng-class="{active: $ctrl.isMaximized}">
			</div>
			<div
				class="player-custom__close-button"
				ng-click="$ctrl.close()">
			</div>
		</div>
		<div class="player-custom__track-info" ng-if="!!$ctrl.playlist">
			<div class="player-custom__track-thumbnail-container">
				<img
					class="player-custom__track-thumbnail"
					ng-src="https://api.deezer.com/album/{{$ctrl.track.albumId}}'/image"
					ng-show="$ctrl.track.albumId != null" />
			</div>
			<div class="player-custom__widget-controls">
				<div
					class="player-custom__popup-button"
					ng-click="$ctrl.showPopup()"
					ng-show="!$ctrl.popup">
				</div>
				<div
					class="player-custom__toggle-button"
					ng-click="$ctrl.toggle()"
					ng-class="{active: $ctrl.isPlayerMinified}">
				</div>
				<div
					class="player-custom__maximize-button"
					ng-click="$ctrl.maximize()"
					ng-class="{active: $ctrl.isMaximized}">
				</div>
				<div
					class="player-custom__close-button"
					ng-click="$ctrl.close()">
				</div>
			</div>
			<div class="player-custom__track-description">
				<div class="player-custom__track-artist">{{$ctrl.track.artist}}</div>
				<div class="player-custom__track-album">{{$ctrl.track.album}}</div>
				<div class="player-custom__track-name">{{$ctrl.track.title}}</div>
			</div>
			<div class="player-custom__controls-container">
				<div class="player-custom__main-buttons">
					<div
						class="player-custom__previous-button"
						ng-click="$ctrl.prev()">
					</div>
					<div
						class="player-custom__play-button"
						ng-click="$ctrl.play()"
						ng-show="!$ctrl.isPlayingTrack">
					</div>
					<div
						class="player-custom__pause-button"
						ng-click="$ctrl.pause()"
						ng-show="$ctrl.isPlayingTrack">
					</div>
					<div
						class="player-custom__next-button"
						ng-click="$ctrl.next()">
					</div>
				</div>
				<div class="player-custom__secondary-buttons">
					<div
						class="player-custom__shuffle-button"
						ng-click="$ctrl.shuffle()"
						ng-class="{active: $ctrl.isShuffling}">
					</div>
					<div
						class="player-custom__repeat-button"
						ng-click="$ctrl.repeat()"
						ng-class="{active: $ctrl.isRepeating}">
					</div>
					<div
						class="player-custom__mute-button"
						ng-click="$ctrl.mute()"
						ng-class="{active: $ctrl.isMuted}">
					</div>
					<div class="player-custom__volume-bar" ng-click="$ctrl.setVolume($event)" ng-mousemove="$ctrl.setVolume($event)">
						<div class="player-custom__volume-slider-container">
							<div class="player-custom__volume-slider" ng-style="{width: ($ctrl.isMuted ? '0%' : $ctrl.volume + '%')}">
							</div>
						</div>
					</div>
				</div>
				<div style="clear:both"></div>
				<div class="player-custom__slider">
					<div class="player-custom__slider-min">{{$ctrl.track.completed | convertSeconds }}</div>
					<div class="player-custom__slider-bar">
						<div
							class="player-custom__slider-completed-container"
							ng-mousedown="$ctrl.pause(); $ctrl.setPercentTemporarily($event)"
							ng-click="$ctrl.setPercent($event)"
							ng-mousemove="$ctrl.setPercentTemporarily($event)">
							<div class="player-custom__slider-completed" ng-style="{width: $ctrl.percent + '%'}">
							</div>
						</div>
					</div>
					<div class="player-custom__slider-max">{{$ctrl.track.duration | convertSeconds }}</div>
				</div>
			</div>
		</div>
		<div class="player-custom__tracklist">
			<player-track-list
				tracks="$ctrl.tracks"
				track-title-click-callback="$ctrl.playTrackOfPlaylist(index, track)">
			</player-track-list>
		</div>
		<div
			class="player-custom__loader"
			ng-if="!$ctrl.playlist">
		</div>
	</div>
</div>
