@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$service-provider-width: 180px;
$service-provider-height: 95px;
$service-provider-margin: 30px;


.music-providers__provider {
	float: left;
	width: $service-provider-width;
	height: $service-provider-height;
	background-color: $grey-2;
	margin-right: $service-provider-margin;
	text-align: center;
	padding: $distance-sm $distance-md;
    box-sizing: border-box;
	cursor: pointer;
	border: 5px solid $grey-2;
	transition: border .2s ease;

	&:last-child {
		margin-right: 0;
	}

	&--selected,
	&:hover {
		border: 5px solid $green;
	}

	.xs & {
		margin-right: 5vw;
		width: 41.5vw;
		margin-bottom: 5vw;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}

.music-providers__provider--disabled {
	opacity: .1;
	cursor: not-allowed;
}

.music-providers__provider-name {
	margin: 0;

	&::first-letter {
		text-transform: uppercase;
	}
}

.music-providers__provider-logo {
	max-height: 38px;
}

.music-providers__save-button {
	@include position-absolute(auto, auto, 40px, auto);
	width: 95px;
}
