<div class="music-providers">
	<div class="music-providers-providers-wrapper">
		<div
			class="music-providers__provider"
			ng-repeat="provider in ::$ctrl.providers"
			ng-class="{
				'music-providers__provider--disabled': provider.disabled,
				'music-providers__provider--selected': provider.selected
			}"
			ng-click="$ctrl.selectProvider(provider)">
			<img
				class="music-providers__provider-logo"
				ng-src="{{::provider.logo}}" />
			<p class="music-providers__provider-name text--lg">
				{{::provider.name}}
			</p>
		</div>
	</div>
	<div class="clear-both"></div>
	<button
		class="btn-circled music-providers__save-button"
		ng-click="$ctrl.save()">
		Save
	</button>
</div>
