<table class="track-table container">
    <thead>
        <tr class="track-table__head">
            <th class="track-table__heading">TRACK</th>
            <th class="track-table__heading">ARTIST</th>
            <th class="track-table__heading">ALBUM</th>
            <th class="track-table__heading">TIME</th>
        </tr>
    </thead>
    <tbody>
        <tr
            class="track-table__row"
            ng-repeat="track in ::$ctrl.tracks">
            <td class="track-table__item">{{::track.title}}</td>
            <td class="track-table__item">{{::track.artist.name}}</td>
            <td class="track-table__item">{{::track.album.title}}</td>
            <td class="track-table__item">{{::track.duration | convertSeconds}}</td>
        </tr>
    </tbody>
</table>
