@import '../../shared/styles/variables';

$table-width: 1170px;
$table-body-height: 525px;
$column-one-width: 40px;
$column-two-width: 450px;
$column-three-width: 286px;
$column-four-width: 293px;
$column-five-width: 80px;

$column-width--md: 235px;

@mixin column($width) {
	width: $width;
	max-width: $width;
	white-space: nowrap;
	overflow: hidden;

	.xs & {
		white-space: normal;
		width: inherit;
	}
}

.track-table {
	width: $table-width;
	table-layout: fixed;
	border-collapse: collapse;
	background-color: $white;
	border: 2px solid $grey-6;
	border-top: 0;
	margin-bottom: $distance-lg;

	.xs & {
		width: 100%;
		border: 0;
	}

	th,
	td {
		padding: 5px;
		text-align: left;
		box-sizing: border-box;

		.xs & {
			display: block;
		}

		.md & {
			text-overflow: ellipsis;
		}
	}

	th {
		p {
			text-transform: uppercase;
			margin: 0;
		}

		.xs & {
			display: none;
		}
	}

	td:nth-child(1),
	th:nth-child(1) {
		@include column($column-one-width);

		.xs & {
			display: none;
		}

		.md & {
			display: none;
		}
	}

	td:nth-child(2),
	th:nth-child(2) {
		@include column($column-two-width);

		.xs & {
			font-size: 20px;
		}

		.md & {
			max-width: $column-width--md;
			width: 251px;
		}
	}

	td:nth-child(3),
	th:nth-child(3) {
		@include column($column-three-width);
		border-left: 1px solid $grey-3;

		.xs & {
			border: 0;
		}

		.md & {
			max-width: $column-width--md;
			width: 250px;
		}
	}

	td:nth-child(4),
	th:nth-child(4) {
		@include column($column-four-width);
		border-left: 1px solid $grey-3;

		.xs & {
			border: 0;
		}

		.md & {
			max-width: $column-width--md;
			width: 249px;
		}
	}

	td:nth-child(5),
	th:nth-child(5) {
		@include column($column-five-width);
		border-left: 1px solid $grey-3;

		.xs & {
			display: none;
		}

		.md & {
			max-width: 40px;
			width: 40px;
		}
	}

	thead {
		background-color: $grey-6;
		color: $white;
		display: block;

		tr {
		  display: block;
		  position: relative;
		}
	}

	tbody {
		display: block;
		overflow: auto;
		width: 100%;
		height: $table-body-height;
		border-top: 0;
		box-sizing: border-box;

		.xs & {
			height: auto;
			overflow: hidden;
		}

		tr {
			height: 35px;

			.xs & {
				padding: $distance-sm;
			    display: block;
			    height: 100%;

				&:first-child {
			        border-top: 1px solid $grey-3;
			    }
			}
		}

		tr:nth-child(even) {
			border-top: 1px solid $grey-3;
			border-bottom: 1px solid $grey-3;
		}
	}

	tbody::-webkit-scrollbar-track {
		border-left: 2px solid $grey-6;
		background-color: $white;
	}

	tbody::-webkit-scrollbar {
		width: 17px;
		background-color: $white;
	}

	tbody::-webkit-scrollbar-thumb {
		background-color: $grey-8;
		border: 4px solid rgba(0, 0, 0, 0);
		background-clip: padding-box;
		border-radius: $distance-sm;
	}
}
