<div
	class="player-widget"
	sticky="$ctrl.player.show && !$ctrl.popup"
	sticky-threshold="{
		'xs': 115,
		'sm': 400,
		'md': 280,
		'lg': 400,
		'xl': 400
	}"
	ng-if="$ctrl.player.show">
	<player-custom
		ng-if="$ctrl.player.service === 'deezer'"
		popup="false"
		player-shown="$ctrl.player.show"
		service-playlist-id="$ctrl.player.servicePlaylistId"
		local-playlist-id="$ctrl.player.localPlaylistId">
	</player-custom>
	<player-spotify
		ng-if="$ctrl.player.service === 'spotify'"
		popup="false"
		player-shown="$ctrl.player.show"
		service-playlist-id="$ctrl.player.servicePlaylistId"
		service-user-id="$ctrl.player.serviceUserId">
	</player-spotify>
</div>
