<div class="player-widget" ng-show="$ctrl.playerService.playerShown">
	<div ng-if="$ctrl.playerService.musicProvider === 'deezer'">
		<player-custom
			popup="false"
			player-shown="$ctrl.playerService.playerShown"
			playlist-id="$ctrl.playerService.playlistId"
		>
		</player-custom>
	</div>

	<div ng-if="$ctrl.musicProvider === 'spotify'">
		<player-spotify
			popup="false"
			player-shown="$ctrl.playerService.playerShown"
			playlist-id="$ctrl.playerService.playlistId"
		>
		</player-spotify>
	</div>
</div>

