@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.category-tiles {
    @include clearfix();
	width: 1196px;

	.xs & {
		max-width: 100%;
	}

	.sm & {
		max-width: 102%;
	}

	.md & {
		width: 784px;
	}
}
