<div
	class="service-dropdown"
	click-outside="$ctrl.closeDropdown()"
	ng-show="$ctrl.isShown">
	<p
		class="service-dropdown__title text--xl"
		translate="{{::'SELECT_MUSIC'}}">
	</p>
	<span
		class="icon-close-white--rounded"
		ng-click="$ctrl.closeDropdown()">
	</span>
	<div class="service-dropdown-providers-wrapper">
		<div
			class="service-dropdown__provider"
			ng-repeat="service in ::$ctrl.services">
			<img
				class="service-dropdown__provider-logo"
				ng-src="{{service.logo}}" />
			<p class="service-dropdown__provider-name text--lg">
				{{service.name}}
			</p>
		</div>
	</div>
	<div class="clear-both"></div>
	<button class="btn-circled service-dropdown__save-button">Save</button>
</div>
