@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$breadcrumb-height: 56px;

.breadcrumb-crumbs {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
}

.breadcrumb-crumbs__crumb {
	display: inline-block;
	vertical-align: middle;
}

.crumb-name {
	display: inline-block;
	vertical-align: middle;
	height: $breadcrumb-height;
	color: $black;
	padding: 0 ($distance-sm / 2);
	max-width: 5 * $distance-lg;
	overflow: hidden;
	text-overflow: ellipsis;
}

.crumb-delimiter {
	display: inline-block;
	vertical-align: middle;
	margin: 0 ($distance-sm / 2);
	background: url('/shared/images/icons/chevron-right-white.png');
	background-repeat: no-repeat;
	background-position: center center;
	width: $distance-md;
	height: $breadcrumb-height;
}
