<div
	class="music-provider-modal"
	ng-show="$ctrl.isOpened">
	<div
		class="provider-modal__backdrop animated"
		ng-click="$ctrl.closeModal()">
	</div>
	<div class="provider-modal">
		<p
			class="provider-modal__title text--xl"
			translate="{{::'SELECT_MUSIC'}}">
		</p>
		<div
			class="icon-close__wrapper"
			ng-click="$ctrl.closeModal()">
			<span class="icon-close-white--rounded">

			</span>
		</div>
		<music-providers
			ng-if="$ctrl.isOpened"
			on-save="$ctrl.onSave()">
		</music-providers>
	</div>
</div>
