@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$provider-modal-width: 680px;
$provider-modal-height: 300px;
$provider-modal-width--xs: 100%;
$provider-modal-height--xs: auto;

$provider-modal-width--sm: 100%;
$provider-modal-height--sm: 100%;

.music-provider-modal {
	@include flex-middle();
	animation: fade-in .5s;
	height: 100%;
	width: 100%;
	top: 0;
	position: fixed;
	z-index: $z-index-5;

	&.ng-hide-add {
		animation: fade-out .5s;
	}
}

.provider-modal__backdrop {
	@include position-absolute(0, 0, 0, 0);
	animation: fade-in .5s;
	background: $opacity-5;

	&.ng-hide-add {
		animation: fade-out .5s;
	}
}

.provider-modal {
	animation: fade-in .3s;
	font-size: initial;
	background-color: $grey-7;
    z-index: $z-index-6;
	height: $provider-modal-height;
	width: $provider-modal-width;
	line-height: initial;
	position: relative;
	overflow: hidden;
	font-weight: 400;
	padding: $distance-md $distance-lg $distance-lg;
	box-sizing: border-box;
	margin: 0 auto;

	&.ng-hide-add {
		animation: fade-out .5s;
	}

	.xs & {
		width: $provider-modal-width--xs;
	    height: $provider-modal-height--xs;
		padding: 6%;
		padding-bottom: 75px;
	}

	.sm & {
		width: $provider-modal-width--sm;
	    height: $provider-modal-height--sm;
		padding: 4%;
		padding-bottom: 100px;
	}
}

.provider-modal__title {
	color: $white;
	margin: 0 0 3 * $distance-sm;

	&::first-letter {
		text-transform: uppercase;
	}

	.xs & {
		padding-right: 30px;
		font-size: 27px;
	}
}
