<div class="nav-search-form-wrapper">
	<form
		class="nav-search-form"
		name="nav-search-form">
			<input
				class="nav-search-form__input"
				type="text"
				name="search"
				placeholder="{{'SEARCH_FORM_INPUT' | translate}}"
				ng-model="$ctrl.query">

			<button
				class="nav__item nav__item__right nav-search-form__button"
				type="submit"
				name="button"
				ng-disabled="!$ctrl.query"
				ui-sref="searchResults({query: $ctrl.query})">
				<div class="nav-button">
					<span class="icon-search--full-width"></span>
				</div>
			</button>
	</form>
</div>
