@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

$search-dropdown-width: 574px;
$search-dropdown-height: 190px;
$search-dropdown-width--xs: 100%;
$search-dropdown-height--xs: 130px;
$search-dropdown-width--md: 376px;
$search-dropdown-height--md: 150px;

.search-dropdown {
	@include position-absolute(96px, 0, auto, auto);
	font-size: initial;
	background-color: $grey-7;
    z-index: 100;
	height: $search-dropdown-height;
	width: $search-dropdown-width;
	line-height: initial;
	font-weight: 400;

	.search-form-wrapper {
		bottom: 50px;
	}

	.xs & {
		top: 56px;
		width: $search-dropdown-width--xs;
	    height: $search-dropdown-height--xs;
	}

	.md & {
		top: 70px;
		width: $search-dropdown-width--md;
	    height: $search-dropdown-height--md;
	}
}

.search-dropdown-title {
	padding-left: 20px;
	font-size: 35px;
	color: $white;
	margin: 20px 0;

	&::first-letter {
		text-transform: uppercase;
	}

	.xs & {
		font-size: 24px;
	}
}
