@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

$search-dropdown-width: 574px;
$search-dropdown-height: 190px;
$search-dropdown-width--xs: 100%;
$search-dropdown-height--xs: 130px;
$search-dropdown-width--md: 376px;
$search-dropdown-height--md: 150px;

.search-dropdown {
	@include position-absolute(96px, 0, auto, auto);
	animation: fade-in .5s;
	font-size: initial;
	background-color: $grey-7;
    z-index: $z-index-6;
	height: $search-dropdown-height;
	width: $search-dropdown-width;
	line-height: initial;
	font-weight: 400;

	.search-form-wrapper {
		bottom: 50px;
	}

	.xs & {
		top: 56px;
		width: $search-dropdown-width--xs;
	    height: $search-dropdown-height--xs;
	}

	.md & {
		top: 70px;
		width: $search-dropdown-width--md;
	    height: $search-dropdown-height--md;
	}

	&.ng-hide-add {
		z-index: 10;
  		animation: fade-out .5s;
	}
}

.search-dropdown__connector {
	@include position-absolute(auto, 121px, 100%, auto);
	height: 40px;
	width: 56px;
	background: $grey-7;

	.md & {
		width: 46px;
		height: 25px;
		right: 101px;
	}

	.xs & {
		width: 36px;
		height: 20px;
		right: 78px;
	}
}

.search-dropdown-title {
	padding-left: 20px;
	font-size: 35px;
	color: $white;
	margin: 20px 0;
	text-transform: capitalize;

	.xs & {
		font-size: 24px;
	}
}
