$button-height: 34px;

.btn-circled {
	height: $button-height;
	background: $yellow;
	color: $black;
	border: 0;
	padding: 0 $distance-md;
	outline: none;
	border-radius: ($button-height / 2);
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
}

.play-button-overlay {
	@include position-absolute(0, auto, auto, 0);
    width: 100%;
    height: 100%;
	background: $opacity-4;
	background-image: url('/shared/images/icons/play-button.png');
	background-repeat: no-repeat;
	background-position: 50%;
}
