@import '/variables';
@import '../../shared/styles/mixins';

$sm-icon: 30px;
$md-icon: 40px;
$md-icon--xs: 33px;
$lg-icon: 50px;

@mixin icon($size, $url) {
	width: $size;
	height: $size;
	display: inline-block;
	background-repeat: no-repeat;
    background-position: center;
	background-image: url($url);
}

@mixin icon-background($color) {
	border-radius: 50%;
	background-color: $color;
}

@mixin icon-parent-width() {
	width: 100%;
	height: 100%;
	background-size: 50%;
}

.icon-twitter {
	@include icon($md-icon, '/shared/images/icons/twitter-icon.png');

	.xs & {
		width: $md-icon--xs;
		height: $md-icon--xs;
	}
}

.icon-twitter--blue-background {
	@extend .icon-twitter;
	@include icon-background($blue);
}

.icon-facebook {
	@include icon($md-icon, '/shared/images/icons/facebook-icon.png');

	.xs & {
		width: $md-icon--xs;
		height: $md-icon--xs;
	}
}

.icon-facebook--blue-background {
	@extend .icon-facebook;
	@include icon-background($blue);
}

.icon-pinterest {
	@include icon($md-icon, '/shared/images/icons/pinterest-icon.png');

	.xs & {
		width: $md-icon--xs;
		height: $md-icon--xs;
	}
}

.icon-pinterest--blue-background {
	@extend .icon-pinterest;
	@include icon-background($blue);
}

.icon-spotify {
	@include icon($md-icon, '/shared/images/icons/spotify-icon.png');

	.xs & {
		width: $md-icon--xs;
		height: $md-icon--xs;
	}
}

.icon-spotify--black {
	@include icon($md-icon, '/shared/images/icons/spotify-icon--black.png');
}

.icon-instagram {
	@include icon($md-icon, '/shared/images/icons/instagram-icon--white.png');

	.xs & {
		width: $md-icon--xs;
		height: $md-icon--xs;
	}
}

.icon-email {
	@include icon($md-icon, '/shared/images/icons/email-icon--white.png');
	width: 44px;

	.xs & {
		width: 37px;
		height: $md-icon--xs;
	}
}


.icon-apple {
	@include icon($md-icon, '/shared/images/icons/apple-icon.png');
    background-position: 50% 46%;

	.xs & {
		width: $md-icon--xs;
		height: $md-icon--xs;
	}
}

.icon-deezer {
	@include icon($md-icon, '/shared/images/icons/deezer-icon--white.png');

	.xs & {
		width: $md-icon--xs;
		height: $md-icon--xs;
	}
}

.icon-hamburger {
	@include icon($md-icon, '/shared/images/icons/hamburger-icon.png');
}

.icon-hamburger--full-width {
	@include icon($md-icon, '/shared/images/icons/hamburger-icon.png');
	@include icon-parent-width();
}

.icon-hamburger--active--full-width {
	@include icon($md-icon, '/shared/images/icons/hamburger-icon--active.png');
	@include icon-parent-width();
	background-color: $grey-7;
}

.icon-search {
	@include icon($md-icon, '/shared/images/icons/search-icon.png');
}

.icon-search--full-width {
	@include icon($md-icon, '/shared/images/icons/search-icon.png');
	@include icon-parent-width();
	background-size: 49%;
}

.icon-search--active--full-width {
	@include icon($md-icon, '/shared/images/icons/search-icon--active.png');
	@include icon-parent-width();
	background-size: 57%;
}

.icon-tiles {
	@include icon($md-icon, '/shared/images/icons/tiles-icon.png');
}

.icon-tiles--full-width {
	@include icon($md-icon, '/shared/images/icons/tiles-icon.png');
	@include icon-parent-width();
	background-size: 49%;
}

.icon-tiles--active--full-width {
	@include icon($md-icon, '/shared/images/icons/tiles-icon--active.png');
	@include icon-parent-width();
	background-size: 49%;
}

.icon-tags {
	@include icon($md-icon, '/shared/images/icons/tags-icon.png');
}

.icon-play {
	@include icon($md-icon, '/shared/images/icons/play-button.png');
	background-size: 100%;
}

.icon-tags--active--full-width {
	@include icon($md-icon, '/shared/images/icons/tags-icon--active.png');
	@include icon-parent-width();
	background-size: 62%;
}

.icon-tags--full-width {
	@include icon($md-icon, '/shared/images/icons/tags-icon.png');
	@include icon-parent-width();
	background-size: 62%;
}

.icon-close {
	@include icon($md-icon, '/shared/images/icons/close-black.png');
}

.icon-close-white--rounded {
	@include icon(35px, '/shared/images/icons/close-white.png');
	@include position-absolute($distance-md, $distance-md, auto, auto);
	border: 2px solid $white;
	color: $white;
	border-radius: 50%;
	cursor: pointer;

	.xs & {
		height: 24px;
		width: 24px;
	}

	.sm & {
		height: 27px;
		width: 27px;
	}
}

.icon-chevron--down--float-right {
	@include icon(38px, '/shared/images/icons/chevron-down-grey.png');
	float: right;
	transition: transform .15s;

	.xs & {
		width: 30px;
		height: 30px;
		background-size: 80%;
	}

	.sm & {
		width: 30px;
		height: 30px;
		background-size: 80%;
	}
}

.icon-close__wrapper {
	@include position-absolute(0, 0, auto, auto);
	height: 65px;
	width: 65px;
	z-index: $z-index-1;

	.xs &,
	.sm & {
		height: 55px;
		width: 55px;
	}

	.md & {
		height: 60px;
		width: 60px;
	}
}
