body {
	overflow-x: hidden;
}

.container {
    max-width: 1172px;
    margin: 0 auto;

	.md & {
		width: 768px;
	}

	.sm & {
		width: 100%;
	}
}

.relative-container {
	position: relative;
	display: inline-block;
}

.clear-both {
	clear: both;
}

#dz-root{
	display: none;
}

#dz-player{
	visibility: none;
	height: 0;
}
