@mixin clearfix() {
    &:after {
        content: '.';
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

@mixin position-absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin position-fixed($top, $right, $bottom, $left) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin border-bottom($width, $type, $color) {
    border-bottom: $width $type $color;
}

@mixin flex-middle() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin placeholder() {
	&::-webkit-input-placeholder {
	  @content
	}

	&:-moz-placeholder {
	  @content
	}

	&::-moz-placeholder {
	  @content
	}

	&:-ms-input-placeholder {
	  @content
	}
}
