.ie7{

	.ie7_error{
		display:block;
		background:#000;
		width:100%;
		height: 100%;
		position:fixed;
		top:0;
		left:0;
		bottom:0;
		right:0;
		margin:0;
		padding:0;
		z-index: 110;

		h2{
			text-align: center;
			padding:100px;
			color:#fff;
			font-size:40px;
			line-height: 62px;
		}
	}
	

	.loading-screen{
		display: none;
	}
}

.ie9{

	.desktop_menu{
		display: none;
	}

	.mobile_menu{
		display: block;
		position:absolute;

		.logo a{
			margin: 15px 0 20px 0;
		}


		 // a.toggle_menu{
		 // 	display: none;
	
		 // }
	}

	.plexicon .case_concept .pagination{
		display: none;
	}




	.headerImg#intro1{
		position: absolute;
	 	background-attachment: scroll;
	}

	.header_list{
		position:absolute;
	}

	.headerImg#intro1 .first_header,
	.loading-screen .first_header{
		@include translate3d(0,0,0);
		margin:0;
		left:0;
		top:30%;
		padding:10px;
		max-width: 1100px;
		width:100%;
		margin: 0 auto;
		position: relative;

		h1{
			text-align: center;
			margin:0 auto;
		}
	}

	.work .case_item{
		padding:0;
	}


	.work .case_item .desc{
		padding: 60px 20px 60px 20px;
		@include translate3d(0,0,0);	
		top: 0;
	}

	a.more{
		display: none;
	}


	.audit .case_intro .bg_case,
	.audit .loading-screen,
	.plexicon .case_intro .bg_case,
	.plexicon .loading-screen{
		position: absolute;
	 	background-attachment: scroll;
	}

	.loading-screen,
	.loading .loading-screen,
	.audit.loading .loading-screen,
	.plexicon.loading .loading-screen{
		display: none !important;
		@include opacity(0);
	}

}

.ie11{
	.mobile_menu,
	.audit .mobile_menu,
	.plexicon .mobile_menu{
		position:absolute;
	}	
}