/*  Touch devices conditions */


	.touch .samsung .case_intro .bg_case,
	.touch .samsung .loading-screen,
	.ie7 .samsung .case_intro .bg_case,
	.ie7 .samsung .loading-screen,
	.ie9 .samsung .case_intro .bg_case,
	.ie9 .samsung .loading-screen{
	 	position: absolute;
	 	background-attachment: scroll;
	 	height:100%;
	 }



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.samsung{
		
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.samsung{

		
	} 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.samsung{
	
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	.samsung{


	}


}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}