/*  Touch devices conditions */


	.touch .audit .case_intro .bg_case,
	.touch .audit .loading-screen,
	.ie7 .audit .case_intro .bg_case,
	.ie7 .audit .loading-screen,
	.ie11 .audit .case_intro .bg_case,
	.ie11 .audit .loading-screen{
	 	position: absolute;
	 	background-attachment: scroll;
	 	height:100%;
	 }



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.audit{
		.case_intro p{
			padding: 0 80px;
		}

		.case_about p, .case_dev_title p{
			padding: 0 60px;		
		}

		.case_logotype .title{
			padding: 0 20px 0 0;
		}

		.case_notification .title{
			padding: 0 40px 0 25px;
		}

		.case_typo .title, .case_controls .image, .case_sprint .image{
			padding:0 40px 0 0;
		}

		.case_typo img, .case_controls img, .case_sprint img{
			width:100%;
		}

		.case_stats .image > div{
			padding: 70px 20px 0 20px;
		}

		.case_backend .image{
			width:100%;

			img.arrows {
				margin: 185px -30px 0 40px;
			}

			img.app{
				width:35%;
			}

			img.backend{
				width: 65%;
				float:right;
				margin: 0 -60px 0 0;
			}
		}
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.audit{

		.loading-screen .content{
			height:100%;
			padding:170px 25px 20px 25px;
		}

		p{
			font-size: 18px;
			line-height: 26px;
		}

		hr.separator{
			margin:50px 0;
		}

		.case_intro{
			height:600px;

			.content{
				padding: 170px 25px 60px 25px;
			}

			.bg_case{
				height:100%
			}

			p{
				font-size: 24px;
				line-height: 32px;
			}

			a.case_prev, 
			a.case_next{
				display: none;
			}
		}

		.case_info {

			.content{
				padding: 50px 25px;
			}
		}

		.case_info .summary{
			width:100%;
			float:none;
			padding:0 60px 40px 0;
		}

		.case_info .scope,
		.case_info .deliverables{
			width:50%;
			padding:0 60px 0 0;
		}

		.case_details{
			.content{
				padding: 40px 25px;
			}

			p{
				margin: 0px 0 20px 0;
			}
		}
		
		.case_about{
			.content{
				padding: 50px 25px 0 25px;
			}

			h2{
				font-size:32px;
				line-height: 40px;
			}

			p{
				font-size: 20px;
				line-height: 30px;
			}

		}

		.case_logotype .image img{
			width:100%;
		
		}

		.case_colors .image{
			margin-top:10px;
		}

		.case_colors .image li{
			width:50px;
			height:50px;

			&:hover span{
				opacity:0;
			}
		}

		.case_typo hr.separator{
			margin: 0 0 50px 0;
		}

		.case_notification .image img{
			width:80%;
		}

		.case_icons .image img{
			width:80%;
		}

		.case_dev_title{
			height:auto;

			.content{
				padding: 50px 25px 50px 25px;
			}
		}

		.case_sprint .content{
			padding: 50px 25px 0 25px;
		}

		.case_stats .image > div{
			padding: 10px 10px 0 10px;

			img{
				width:70%;
				max-width: 54px;
			}
		}


		.case_backend 

		.case_backend{

			.content{
				padding:100px 25px;
			}

			.pros{
				padding: 10px 10px 40px 0;

				p{
					font-size:16px;
				}
			} 

			.image{

				img.app{
					margin: 50px 0 0 0;
				}

				img.arrows{
					margin: 155px -30px 0 40px;
				}
			}
		}

		.case_contact a.main_btn{
			padding: 16px 40px;
			font-size:20px;
		}
	} 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.audit{
		.case_notification .title {
			padding: 0 0px 0px 25px;
		}

		.case_intro p{
			font-size: 22px;
			padding: 0 40px;
			line-height: 28px;
		}

		.case_intro .bg_case{
		 	position: absolute;
		 }

	 .case_info .scope,
		.case_info .deliverables{
			padding:0;
		}

		.case_info .deliverables{
			padding:0 0 0 20px;
		}

		p {
			font-size: 16px;
			line-height: 24px;
		}

		.case_details .left{
			padding: 0 40px 0 0;
		}

		.case_details p{
			font-size: 16px;
			line-height: 24px;
		}

		.case_about h2{
			font-size: 28px;
			line-height: 32px;
		}

		.case_about p{
			font-size: 18px;
			line-height: 24px;
		}

		hr.separator {
			margin: 30px 0;
		}



		.case_colors .image li{
			width: 40px;
			height: 40px;
			margin: 3px;
		}

		.case_typo .title{
			width:100%;

			img{
				width:70%;
				display: block;
			}
		}

		.case_typo .image{
			width:100%;
			margin: 10px 0 0 0;

			img{
				width: 80%;
				margin: 30px auto 0 auto;
				display: block;
			}
		}

		.case_notification .image img{
			width:70%;
		}

		.case_icons .image img{
			width: 80%;
			margin: 0 auto;
			display: block;
		}


		.case_controls .title{
			width:100%;
			padding: 0;
		}

		.case_controls .image{
			width:100%;
			padding: 0 20px;

			img{
				width:60%;
				display: block;
				margin: 30px auto 0 auto;
			}
		}

		.case_sprint .title{
			width:100%;
		}

		.case_sprint .image{
			width:100%;
			padding: 0;

			img{
				width: 70%;
				margin: 30px auto 0 auto;
				display: block;
			}
		}

		.case_stats .title{
			width:100%;
		}

		.case_stats .image{
			width:100%;
		}

		.case_stats .image>div {
			padding: 10px 30px 0 30px;
		}

		.case_stats .content{
			padding: 0 25px 40px 25px;
		}

		.case_backend h2 {
			color: #fff;
			font-size: 28px;
			line-height: 32px;
		}

		.case_backend .image img.app {
			margin: 0 auto;
			width: 60%;
			float: none;
		}

		.case_backend .image img.arrows {
			@include rotate(90deg);
			margin: 40px auto;
			float: none;
		}

		.case_backend .image img.backend {
			margin: 0 auto;
			float: none;
			width: 100%;
		}

		.case_stats .image>div {
			padding: 10px 10px 0 10px;
		}

		footer .content{
			padding:30px 25px;

			p.copyright{
		 		text-align:left;
		 		padding: 50px 0 0 0;
		 	}
		}
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	.audit{

		.content{
			padding:0 15px;
		}

		hr {
			margin: 20px 0;
		}

		.case_intro img.intro_icon {
			width: 100px;
			height: auto;
		}

		.case_intro {
			height: 400px;
		}

		.case_info{

			.content{
				padding:40px 25px;
			}

			.summary{
				padding:0 0 30px 0;
			}

			.scope{
				width:100%;

				p{
					width:auto;
				}

				a{
					width:100%;
				}
			}

			.deliverables{
				width:100%;
				padding:0;
			}
		}

		.case_about h2{
			text-align:left;
		}

		.case_about p{
			text-align:left;
			padding:0;
		}

		.case_about hr{
			display: block;
		}

		.case_intro h2{
			font-size:30px;
		}

		.case_details h3{
			padding:0 0 10px 0;
		}

		.case_intro hr{
			margin: 15px 0;
			height:3px;
		}

		.case_intro .content{
			padding: 80px 25px 60px 25px;
		}

		.case_intro p {
			font-size: 20px;
			padding: 0 10px;
			line-height: 24px;
		}

		.loading-screen .content img.intro_icon{
			width: 100px;
			height: auto;
		}

		.loading-screen .content{
			padding: 120px 25px 60px 25px;
		}

		.loading-screen h2{
			font-size:30px;
		}

		.case_info .content, 
		.case_info .careers .careers_info, 
		.careers .audit .case_info .careers_info,
		.case_details .content,
		.case_sprint .content,
		.case_dev_title .content{
			padding:30px 15px;
		}

		.case_about .content,
		.case_sprint .content{
			padding:30px 15px 0 15px;
		}

		.case_info .left, 
		.case_info .right,
		.case_details .left,
		.case_details .right,
		.case_logotype .title,
		.case_logotype .image,
		.case_colors .title,
		.case_colors .image,
		.case_notification .title,
		.case_notification .image,
		.case_icons .title,
		.case_icons .image,
		.case_backend .pros
		{
			padding:0;
			width:100%;
			float:none;
		}

		.case_colors .image{
			padding:20px 0 10px 0;
		}

		.case_typo hr.separator{
			margin:0 0 30px 0;
		}

		.case_dev_title p{
			padding:0;
		}

		.case_stats .content{
			padding:0 15px 40px 15px;
		}

		.case_stats .image{
			margin-top:10px;
		}

		.case_stats .image>div p.number{
			font-size:32px;
		}

		.case_stats .image>div p{
			font-size: 14px;
			line-height: 15px;
		}

		.case_backend .pros{
			padding:0 0 15px 0;
		}

		.case_backend .content{
			padding:60px 15px 40px 15px;
		}

		.case_backend .image img.app{
			margin: 20px auto 0 auto;
			width:80%;
		}

		.case_controls .image{
			padding:0;
		}

		.case_dev_title .content{
			padding:30px 15px;
		}

		.case_sprint .image img{
			margin-top:10px;
		}

		.case_sprint .image img{
			padding:0;
		}

		.case_sprint .content{
			padding:30px 15px 0 15px;
		}

		.case_icons .image img{
			width:80%;
			margin: 0 auto;
			display: block;
		}

		.case_contact{
		 	padding: 40px 25px 20px 25px;

		 	.content{
		 		height: 140px;
		 	}

		 	a.case_prev, 
		 	a.case_next{
		 		top:85px;
		 	}
		 	
		 	a.case_prev{
		 		padding:0 0 0 30px;
		 	}

		 	a.case_next{
		 		padding:0 30px 0 0;
		 	}

		 	a.main_btn{
		 		width:100%;
		 	}
		 }

		 footer .content{
		 	padding:30px 25px;

		 	.social a{
		 		margin:0 8px 0 0;
		 	}

		 	p.copyright{
		 		padding:60px 0 0 0;
		 	}
		 }

	}


}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}