.samsung{

	nav.desktop_menu{
		background:rgba(0,0,0,.2);
		border-bottom:1px solid rgba(255,255,255,.1);

		.logo a{
			margin:50px 0 40px 0;
		}

		&.desktop_menu ul li a{
			padding:50px 0 35px 0;
		}

		&.nav_box{
			.logo a{
				margin:30px 0 20px 0;
				background: url("../img/svg/logo.svg") 0 0 no-repeat;
			}	

			&.desktop_menu ul li a{
				padding:30px 0 25px 0;
				color: #fff;
			}
		}
	}

	background:#040412;
	@include background-image(linear-gradient(
		to top, 
		#110c49 10%,
		#1e2b94 19%,
		#0f6d80 34%,
		#103873 47%,
		#11364c 54%,
		#200b32 67%,
		#040412 72%)
	);
	height:auto;

	section{
		height:1000px;
		width:100%;
		background:transparent;
	}

	a.case_prev, 
	a.case_next{
		color:#151546;
		position:relative;
		padding:0 0 0 40px;
		font-weight: 400;
		font-size:17px;
		line-height: 17px;
		display: block;
		position:absolute;
		top: 15px;
		left:0;
		text-align:left;
		text-transform: uppercase;
		letter-spacing: 1px;
		@include opacity(.6);

		svg{
			width:22px;
			height:42px;
			position:absolute;
			top:-4px;
			left:0;

			path{
				fill:#151546;
			}
		}

		span{
			display: block;
			font-weight: 600;
		}

		&:hover{
			@include opacity(1);
		}
	}

	a.case_next{
		right:0;
		left:auto;
		padding:0 40px 0 0;
		text-align:right;

		svg{
			@include rotate(180deg);
			left:auto;
			right:0;
		}
	}

	section{
		position:relative;
	}
	
	h2{
		font-weight: 600;
		font-size:24px;
		text-transform: uppercase;
		color:$dark_font_color;
	}

	p{
		color:$dark_font_color;
		font-size:20px;
		line-height: 32px;
		font-weight: 300;
	}

	hr{
		background:#f9671e;
	}

	hr.separator{
		background:#e5e5e5;
		margin:90px 0;
	}

	.content{
		padding:0px 25px;
	}

	.loading-screen{
	    background: url('../img/bg_loading_samsung.jpg') center top no-repeat #000;
	    background-size: cover;
	    background-attachment: absolute; 
	    height:900px;
		padding:0;  
		width:100%;
	}

	.loading-screen{
		margin:0;
		top:0;
		left:0;

		.content{
			height:900px;
			padding:25px;
		}

		h2{
			@include vertical-align;
			font-weight: 400;
			font-size:52px;
			color:#fff;
			text-align:center;

			span{
				background:url('../img/samsung/samsung_logo.svg') 0 0 no-repeat;
				width:288px;
				height:42px;
				display: inline-block;
				text-indent: -9999px;
				background-size:288px 42px;
				margin: 0 5px 0 5px;
				line-height: 42px;
			}
		}


		img.intro_icon{
			width:200px;
			height:150px;
			display: block;
			margin:0 auto 20px auto;
		}
	}

	.case_intro{
		height:900px;
		background:#000;

		.content{
			height:900px;
			padding:25px;
			position:relative;
			z-index: 1;
			text-align: center;
		}

		a.case_prev,
		a.case_next{
			position:absolute;
			color:#ffffff;
			top:50%;
			left:25px;

			svg path{
				fill:#ffffff;
			}
		}

		a.case_next{
			right:25px;	
			left:auto;
		}

		img.intro_icon{
			width:200px;
			height:150px;
			display: block;
			margin:0 auto 20px auto;
		}


		p{
			color:#fff;
			text-align:center;
			font-size:24px;
			line-height: 32px;
			padding:0;
			font-weight: 300;
			letter-spacing: 1px;
			max-width: 570px;
			margin: 0 auto;
		}

		h2{
			@include vertical-align;
			font-weight: 400;
			font-size:52px;
			color:#fff;
			text-align:center;

			span{
				background:url('../img/samsung/samsung_logo.svg') 0 0 no-repeat;
				width:288px;
				height:42px;
				display: inline-block;
				text-indent: -9999px;
				background-size:288px 42px;
				margin: 0 5px 0 5px;
				line-height: 42px;
			}
		}

		hr{
			background:#ffffff;
			display: inline-block;
			margin:20px 0;
		}

		a.more{
		    display: block;
		    position:absolute;
		    bottom:80px;
		    left:50%;
		    margin-left:-10px;
		    width:19px;
		    height:54px;
		     @include opacity (.5);

		    &:hover{
		        @include opacity (1);
		    }

		    svg{
		        width:19px;
		        height:54px;    
		    }
		}
		
	    .bg_case{
	        background:url('../img/samsung/bg_samsung.jpg') center top no-repeat #040412;
	        //background-attachment: fixed;
	        background-size: cover;
	        width: 100%;
	        position:absolute;
	        top:0;
	        left:0;
	        height:900px;
	        z-index: 0;
	        overflow: hidden;
	    }
	}


	.phone_wrapper{
		width:430px;
		height:600px;
		display: block;
		margin:160px auto;
		position:relative;

		.mockup,
		.mockup_shadow{
			width:430px;
			height:600px;
			display: block;	
			position:absolute;
			top:0;
			left:0;
			z-index: 1;
		}

		.mockup_shadow{
			z-index: 3;
		}

		.mockup_screen{
			width:265px;
			height:473px;
			display: block;	
			position:absolute;
			top:58px;
			left:82px;
			z-index: 2;
		}
	}
	

	.case_tv{
		height: 1355px;
		margin-top:-360px;

		.content{
			padding:0;
		}

		img.faces{
			width:1400px;
			height:1234px;
			display: block;
			top:0;
			left:50%;
			margin-left:-700px;
			position:absolute;
			z-index: 10;	
		}


		img.tv_bottom{
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
		}
	}


	.case_contact{
		background:#ffffff;
		text-align:center;
		padding: 50px 25px;
		height:168px;

		.content{
			padding:0;
			position: relative;
		}

		a.main_btn{   
			font-weight: 400;
			font-size: 22px;
			line-height: 24px;
			text-transform: uppercase;
			padding:20px 60px;
			z-index: 2;
			border-color:#151546;
			color:#151546;

			&::after{
				background:#151546;
			}

			&:hover{

				color:#ffffff;
			}
		}
	}


	footer{
		background:#f4f4f4;

		.content{
			padding:50px 25px;
		}
	}

}
