.sara{
	a.case_prev, 
	a.case_next{
		color:#855633;
		position:relative;
		padding:0 0 0 40px;
		font-weight: 400;
		font-size:17px;
		line-height: 17px;
		display: block;
		position:absolute;
		top:15px;
		left:0;
		text-align:left;
		text-transform: uppercase;
		letter-spacing: 1px;
		@include opacity(.6);

		svg{
			width:22px;
			height:42px;
			position:absolute;
			top:-4px;
			left:0;

			path{
				fill:#855633;
			}
		}

		span{
			display: block;
			font-weight: 600;
		}

		&:hover{
			@include opacity(1);
		}
	}

	a.case_next{
		right:0;
		left:auto;
		padding:0 40px 0 0;
		text-align:right;

		svg{
			@include rotate(180deg);
			left:auto;
			right:0;
		}
	}

	section{
		position:relative;
	}
	
	h2{
		font-weight: 700;
		font-size:40px;
		text-transform: uppercase;
		color:$dark_font_color;
	}

	p{
		color:$dark_font_color;
		font-size:20px;
		line-height: 30px;
		font-weight: 300;
	}

	h3{
		text-transform: uppercase;
		padding:0;
		font-weight: 600;
		line-height: 26px;
	}

	hr{
		background:#855633;
		height:3px;
		margin:22px 0;
	}

	hr.separator{
		background:#e9eaea;
		margin:90px 0;
		height:2px;
	}

	.content{
		padding:0px 25px;
	}

	.loading-screen{
	    background: url('../img/bg_loading_sara.jpg') center top no-repeat #000;
	    background-size: cover;
	    background-attachment: fixed;   
	}

	.loading-screen{
		margin:0;
		top:0;
		left:0;

		.content{
			height:100%;
			padding:170px 25px 20px 25px;
		}

		h2{
			font-weight: 600;
			font-size:40px;
			color:#fff;
			text-align:center;
		}

		img.intro_icon{
			width:148px;
			height:161px;
			display: block;
			margin:0 auto 20px auto;
		}
	}

	.case_intro{
		height:700px;
		background:#000;

		.content{
			padding:170px 25px 20px 25px;
			position:relative;
			z-index: 1;
			text-align: center;
		}

		a.case_prev,
		a.case_next{
			position:absolute;
			color:#ffffff;
			top:50%;
			left:25px;

			svg path{
				fill:#ffffff;
			}
		}

		a.case_next{
			top:50%;
			right:25px;	
			left:auto;
		}

		a.appstore_link{
			display: inline-block;
			border:none;
			img{
				display: block;
			}
		}

		img.intro_icon{
			width:148px;
			height:161px;
			display: block;
			margin:0 auto 20px auto;
		}


		p{
			color:#fff;
			text-align:center;
			font-size:28px;
			line-height: 38px;
			padding:0;
			font-weight: 300;
			letter-spacing: 1px;
			max-width: 630px;
			margin: 0 auto 40px auto;
			font-style: italic;

			span{
				font-style: normal;
				font-size:22px;
				font-weight: 500;
				display: block;
				padding-top: 10px;
			}
		}

		h2{
			font-weight: 600;
			font-size:40px;
			color:#fff;
			text-align:center;
		}

		hr{
			background:#ffffff;
			display: inline-block;
			margin:20px 0;
		}
		
	    .bg_case{
	        background:url('../img/sara/bg_sara.jpg') center top no-repeat #000;
	        background-attachment: fixed;
	        background-size: cover;
	        width: 100%;
	        position:fixed;
	        top:0;
	        left:0;
	        height:100%;
	        z-index: 0;
	        overflow: hidden;
	    }
	}


	.case_info{
		background:#1c1f21;
		z-index: 5;
		position: relative;

		.content{
			padding:90px 25px;
		}

		h2{
			color:$white_font_color;
			text-transform: inherit;
			font-size:26px;
			font-weight: 500;
		}

		p{
			color:#abacad;
		}

		.summary{
			width:51%;
			float:left;
			padding:0 60px 0 0;

		}

		.scope{
			width:27%;
			float:left;
			padding:0 0 0 10px;

			p{
				margin:10px 0 20px 0;
				padding-bottom:20px;
				font-size:18px;
				line-height:28px;
				border-bottom:3px solid #333638;
				width:210px;
			}
			
			h4{
				font-weight: 600;
				font-size:20px;
				line-height: 34px;
				margin:0;
				padding:0;
				color:$white_font_color;
			}

			a{
				margin-top:10px;
				position:relative;
				width: 210px;
				text-align:left;
				padding: 15px 26px;
				z-index: 2;

				svg{
					@include transition(all 1s ease-out);
					fill:#ffffff;
					width: 16px;
					height:16px;
					position: absolute;
					right: 18px;
					top: 16px;

					&.apple{
						width:20px;
						height:20px;
						top:14px;
						right:16px;
					}
				}

				&:hover{
					color:$dark_font_color;
				}

				&:hover svg{
					fill:$dark_font_color;
				}
			}
		}

		.deliverables{
			width:22%;
			float:left;
			padding:0 0 0 10px;

			p{
				margin:10px 0 20px 0;
				font-size:18px;
				line-height:28px;
			}

			h4{
				font-weight: 600;
				font-size:20px;
				line-height: 34px;
				margin:0;
				padding:0;
				color:$white_font_color;
			}

			ul{
				margin:10px 0 0 0;

				li{
					color:#abacad;
					font-weight: 300;
					margin:0 0 10px 0;
					position:relative;
					padding:0 0 0 40px;


					span{
						width:20px;
						height:20px;
						position:absolute;
						top:3px;
						left:0;
					}
				}
			}
		}	
	}

	.case_details{
		background:#16181a;
		z-index: 5;
		position: relative;

		.content{
			padding:70px 25px;
		}

		h3{
			color:$white_font_color;
			padding:0 0 20px 0;
			text-transform: none;
			font-size:22px;
			line-height: 26px;
			font-weight: 500;
			letter-spacing: 1px;
		}

		p{
			margin:10px 0 20px 0;
			font-size:18px;
			line-height:28px;
			color:#aeafb1;
		}

		.left{
			width:51%;
			float:left;
			padding:0 60px 0 0;			
		}

		.right{
			width:49%;
			float:right;
			padding:0px 0 0 10px;	
		}
	}

	.case_about{
		text-align:center;

		.content{
			padding:90px 25px 0 25px;
		}

		h2{
			font-size:40px;
			text-align:center;
		}	

		hr{
			display: inline-block;	
		}

		p{
			text-align:center;
			padding:0 180px;
			font-size:24px;
			line-height: 36px;
		}
	}

	.branding{
		padding:90px 25px;

		h2{
			text-align: center;
		}

		h4{
			font-weight: 300;
			font-size:24px;
			text-align: center;
			max-width: 760px;
			margin:0 auto;
			line-height: 36px;
		}

		hr.main{
			margin:22px auto;
			height:5px;
		}

		.graphics{
			text-align:center;
			margin:60px 0 0 0;

			img{
				display: inline-block;
				margin:20px;
			}
		}
	}

	.icons{
		@include clearfix;

		.text{
			float:left;
			width: 50%;
			padding: 10px 130px 0 0;
		}

		.image{
			float:right;
			width:50%;
		}
	}

	.navigation{
		@include clearfix;

		.text{
			float:right;
			width: 50%;
			padding: 10px 100px 0 25px;
		}

		.image{
			float:left;
			width:50%;
		}
	}

	.video{
		width:100%;	
		background:#000;	
		overflow:hidden;

		iframe{
			@include transition(visibility 0s linear 0.2s, opacity .4s ease-out);
			//@include translate3d(0,-550px,0);
			@include opacity(0);
			margin:0 auto;
			display: block;
			width:960px;
			height:540px;
			position:absolute;
			top:0;
			left:50%;
			margin-left:-480px;
			visibility: hidden;
			z-index: 1;

			&.open{
				visibility: visible;
				//@include translate3d(0,0,0);	
				transition-delay:0s;
				@include opacity(1);
			}
		}

		a{
			@include vertical-align;
			@include transition(all .3s ease-out);
			@include opacity(.8);
			display: block;
			left:50%;
			margin-left:-56px;
			width:156px;
			height:112px;
			z-index: 10;
			position:absolute;

			&:hover{
				@include translate3d(0,-52%,0);
				@include opacity(1);
			}
		}

		.bg{
			@include transition(all .3s ease-out);
			@include opacity(1);
			width:100%;
			height:400px;
			background:url('../img/sara/bg_video.jpg') center center no-repeat;
			background-size: cover;

			&.hover{
				height:450px;
				@include opacity(.8);
			}

			&.open_video{
				@include opacity(.4);
       			height : 540px;
			}
		}
	}

	.more_info{
		padding:90px 25px;

		.recipes{
			@include clearfix;

			.text{
				float:left;
				width: 50%;
				padding: 10px 130px 0 0;
			}

			.image{
				float:right;
				width:50%;
			}
		}

		.mobile{
			@include clearfix;

			.text{
				float:right;
				width: 50%;
				padding: 10px 100px 0 25px;
			}

			.image{
				float:left;
				width:50%;
			}
		}
	}

	.case_screens{
		background:#16181a;
		padding:100px 0 100px 0;

		.content{
			position:relative;
			height:670px;
		}

		h2{
			color:#ffffff;
			text-align: center;
		}

		hr{
			margin:22px auto;
			height:5px;
		}

		img.ipad_frames{
			position:absolute;
			display: block;
			z-index: 10;
			top:140px;
			left:50%;
			margin-left:-421px;
			pointer-events:none;
		}

		.swiper-container {
			position:absolute;
			top:196px;
			left:50%;
			margin-left:-410px;	
			overflow:hidden;
			@include bs(content-box);
			width: 820px;
			height: 364px;
			color: #fff;
			text-align: center;
		}

		.swiper-wrapper {
			@include bs(content-box);
			position:relative;
			width:100%;	
		}


		.swiper-slide {
			  @include bs(content-box);
			  float:left;
			  height: 370px;
			  width:280px;
			  opacity: 0.4;
			  @include transition(all .3s ease-out);
			  @include transform(scale(0.9));
		}

		.swiper-slide-visible {
			@include opacity(.6);
			@include transform(scale(0.9));
		}
		.swiper-slide-active {
		    top: 0;
		  	@include opacity(1);
			@include transform(scale(1));
		}

		.pagination {
		  position: absolute;
		  z-index: 20;
		  left: 0px;
		  width: 100%;
		  text-align: center;
		  bottom: 5px;
		}

		.swiper-pagination-switch {
		  display: inline-block;
		  width: 14px;
		  height: 14px;
		  border-radius: 8px;
		  background: #16181a;
		  margin-right: 8px;
		  cursor: pointer;
		  opacity: 1;
		  position: relative;
		  top: 0;
		  border:2px solid #4e3727;
		}
		.swiper-visible-switch {
		  opacity: 1;
		  top: 0;
		  background: #16181a;
		  border:2px solid #4e3727;
		}
		.swiper-active-switch {
		  background: #855633;
		  border:2px solid #855633;
		}

		/* IE10 Windows Phone 8 Fixes */
		.swiper-wp8-horizontal {
		        -ms-touch-action: pan-y;
		}
		.swiper-wp8-vertical {
		        -ms-touch-action: pan-x;
		}
	}

	.case_contact{
		background:#eeeeee;
		text-align:center;
		padding: 50px 25px;

		.content{
			padding: 0;
			position:relative;
		}

		a.main_btn{
			font-weight: 400;
			font-size: 22px;
			line-height: 24px;
			text-transform: uppercase;
			padding:20px 60px;
			z-index: 2;
			color:#855633;
			border-color:#855633;

			&::after{
				background:#855633;	

			}

			&:hover{
				border-color:#855633;
				color:#eee;
			}
		}
	}



	footer .content{
		padding:50px 25px;
	}

}
