@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$search-button-width: 156px;
$search-input-width: 378px;
$search-form-height: 49px;
$search-form-height--xs: 30px;

.search-form-wrapper {
	position: absolute;
	bottom: 3 * $distance-sm;
	width: 100%;
	text-align: center;
	font-size: 0;

	.xs & {
		bottom: $distance-md;
	}
}

.search-form {
	position: relative;
	display: inline-block;

	.xs & {
		width: 90%;
	}
}

.search-form__input,
.search-form__button {
	height: $search-form-height;
	border: 3px solid $yellow;
	font-size: 21px;
	box-sizing: border-box;
	vertical-align: top;
	outline: none;

	.xs & {
		font-size: 16px;
		height: $search-form-height--xs;
		border-width: 2px;
	}
}

.search-form__input {
	width: $search-input-width;
	padding: 0 $distance-sm 0 5 * $distance-sm;
	border-right: 0;

	@include placeholder() {
		color: $black;
	    opacity: 1;
	}

	.xs & {
		width: 70%;
		padding-left: 3 * $distance-sm;
	}
}

.search-form__button {
	background-color: $yellow;
	text-transform: capitalize;
	font-weight: 600;
	width: $search-button-width;
	cursor: pointer;

	.xs & {
		width: 30%;
	}

	&:disabled {
		color: $black;
	}
}

.icon-search--input,
.icon-close--input {
	@include position-absolute(0, auto, auto, 0);
	height: $search-form-height;
	width: $search-form-height;

	.xs & {
		height: $search-form-height--xs;
		width: $search-form-height--xs;
	}
}

.icon-search--input {
	background-size: 24px;

	.xs & {
		background-size: 14px;
	}
}

.icon-close--input {
	cursor: pointer;

	.xs & {
		background-size: 10px;
	}
}
