<div class="search-form-wrapper">
	<form
		class="search-form"
		name="search-form">
			<span
				class="icon-search icon-search--input"
				ng-hide="$ctrl.query">

			</span>
			<span
				class="icon-close icon-close--input"
				ng-show="$ctrl.query"
				ng-click="$ctrl.query = ''">

			</span>
			<input
				class="search-form__input"
				type="text"
				name="search"
				placeholder="{{'SEARCH_FORM_INPUT' | translate}}"
				focusable
				ng-model="$ctrl.query">

			<button
				class="search-form__button"
				type="submit"
				name="button"
				translate="{{::'SEARCH'}}"
				ng-disabled="!$ctrl.query"
				ui-sref="searchResults({query: $ctrl.query})">
			</button>
	</form>
</div>
