@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$category-tile-width: 275px;
$category-tile-height: 275px;
$category-tile-width--md: 180px;
$category-tile-height--md: 180px;

$category-tile-border-height: 5px;
$category-tile-border-height--xs: 3px;

$category-tile-height--featured: 2 * $category-tile-height + $distance-md;
$category-tile-offset: 24px;
$category-tile-offset--xs: 10px;
$category-tile-offset--md: 16px;

$category-tile-control-radius: 45px;
$category-tile-control-radius--xs: 25px;
$category-tile-control-radius--md: 38px;

category-tile {
	@include fade-in();
    position: relative;
    float: left;
    width: $category-tile-width;
    height: $category-tile-height;
    background: $grey-2;
    cursor: pointer;
    margin: 0 $category-tile-offset $category-tile-offset 0;
	border-bottom: $category-tile-border-height solid $yellow;

	.xs & {
		width: calc(50% - #{$category-tile-offset--xs / 2});
		margin: 0 $category-tile-offset--xs $category-tile-offset--xs 0;
		height: 50vw;
		border-bottom: $category-tile-border-height--xs solid $yellow;
	}

	.xs &:nth-child(2n) {
		margin-right: 0;
	}

	.md & {
		width: $category-tile-width--md;
	    height: $category-tile-height--md;
		margin: 0 $category-tile-offset--md $category-tile-offset--md 0;
	}
}

.category-tile--featured {
    height: $category-tile-height--featured;
}

.category-tile-container--expaned {
	z-index: $z-index-5;
}

.category-tile__image {
    @include position-absolute(0, 0, 0, 0);
	overflow: hidden;
	width: 100%;
    z-index: $z-index-1;

	> img {
		height: 100%;
	}
}

.category-tile-meta {
	@include position-absolute(auto, $distance-md, $distance-md, $distance-md);
    z-index: $z-index-2;

	.xs & {
		@include position-absolute(auto, $distance-sm, $distance-sm, 13px);
	}

	.md & {
		@include position-absolute(auto, 15px, 15px, 15px);
	}
}

.category-tile__icon {
	max-width: $distance-lg;
	max-height: $distance-lg;
}

.category-tile__title {
	color: $white;
    margin: 0;
	word-wrap: break-word;

	.xs & {
		font-size: 21px;
	}

	.md & {
		font-size: 25px;
	}
}

.category-tile__control {
    @include position-absolute($distance-md, $distance-md, auto, auto);
	@include flex-middle();
    z-index: $z-index-3;
	border: 2px solid $white;
	color: $white;
	width: $category-tile-control-radius;
	height: $category-tile-control-radius;
	border-radius: 50%;
	outline: none;
	font-size: 32px;
	cursor: pointer;
	background-color: transparent;

	.xs & {
		width: $category-tile-control-radius--xs;
		height: $category-tile-control-radius--xs;
		border: 1px solid $white;
	}

	.md & {
		width: $category-tile-control-radius--md;
		height: $category-tile-control-radius--md;
		top: 15px;
		right: 15px;
	}

	.category-tile__subcategories & {
		z-index: $z-index-5;
		border-color: $black;
	}
}

%category-tile__control-icon {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: initial;

	.xs & {
		background-size: 50%;
	}
}

.category-tile__control--plus-white {
	@extend %category-tile__control-icon;
	background-image: url('/shared/images/icons/plus-white.png');
}

.category-tile__control--close-black {
	@extend %category-tile__control-icon;
	background-image: url('/shared/images/icons/close-black.png');
}

.category-tile__subcategories {
    @include position-absolute(0, 0, auto, auto);
	width: (2 * $category-tile-width) + $category-tile-offset;
    min-height: $category-tile-height;
    box-sizing: border-box;
    padding-top: 2 * $distance-md;
    background: $white;
    z-index: $z-index-4;

    .category-tile--featured & {
        min-height: $category-tile-height--featured;
    }

	.xl .category-tile--left & {
		@include position-absolute(0, auto, auto, 0);
	}

	.xs category-tile:nth-child(2n+1) & {
		@include position-absolute(0, auto, auto, 0);
	}

	.xs & {
		width: 100vw;
	}

	/*&.ng-enter {
		animation: fade-in .3s;
	}

	&.ng-leave {
		animation: fade-out .3s;
	}*/
}

.subcategories-list {
	margin-top: ($distance-md + $distance-sm);
    list-style-type: none;
	padding: 0;
}

.subcategories-tile__title {
	@include position-absolute($distance-md, auto, auto, $distance-md);
	margin: 0;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: normal;

	strong {
		font-weight: bold;
	}
}

.subcategories-list-element {
	@include fade-in();
	padding: $distance-sm $distance-md;
	background: $white;

	&:hover {
		background: $yellow;
		transition: background .2s linear;
	}
}

.subcategories-list-element__title {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: ($distance-sm / 2);

	.subcategories-list-element:hover & {
		text-decoration: underline;
	}
}

.subcategories-list-element__description {
	line-height: 18px;
	font-size: 15px;
	color: $grey-6;

	.subcategories-list-element:hover & {
		text-decoration: underline;
	}
}

.subcategories__control {
	margin: 0 $distance-md $distance-md;
}
