@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$category-tile-width: 220px;
$category-tile-height: 220px;
$category-tile-height--featured: 2 * $category-tile-height + $distance-md;

category-tile {
    position: relative;
    float: left;
    width: $category-tile-width;
    min-height: $category-tile-height;
    background: $grey-2;
    cursor: pointer;
    margin: $distance-sm;
}

.category-tile--featured {
    height: $category-tile-height--featured;
}

.category-tile__image {
    @include position-absolute(0, 0, 0, 0);
	width: 100%;
    z-index: $z-index-1;
}

.category-tile__title {
    @include position-absolute(auto, $distance-md, $distance-md, $distance-md);
    z-index: $z-index-2;
    margin: 0;
    text-transform: uppercase;
}

.category-tile__control {
    @include position-absolute($distance-md, $distance-md, auto, auto);
    z-index: $z-index-3;
}

.category-tile__subcategories {
    @include position-absolute(0, 0, auto, auto);
	width: (2 * $category-tile-width) + $distance-md;
    min-height: $category-tile-height;
    box-sizing: border-box;
    padding-top: 2 * $distance-md;
    background: $grey-4;
    z-index: $z-index-3;

    .category-tile--featured & {
        min-height: $category-tile-height--featured;
    }

	category-tile:nth-child(4n+1) & {
		@include position-absolute(0, auto, auto, 0);
	}
}

.subcategories-list {
    list-style-type: none;
    padding-left: $distance-md;
}
