<div
    class="category-tile"
    ui-sref="category($ctrl.category.stateParams)"
    ng-class="{
        'category-tile--featured': $ctrl.category.featured,
		'category-tile--expanded': $ctrl.category.expanded
    }">
	<div class="category-tile__image">
		<img ng-src="{{::$ctrl.category.imageUrl}}" />
	</div>
    <h4 class="category-tile__title">
        {{::$ctrl.category.name}}
    </h4>
    <button
        class="category-tile__control"
        ng-if="::$ctrl.category.children.length"
        ng-click="$ctrl.toggleCategoryExpand(false, $event)">
        &plus;
    </button>
    <div
        class="animated fadeIn category-tile__subcategories"
		click-outside="$ctrl.toggleCategoryExpand(true)"
        ng-if="$ctrl.category.expanded">
		<button
	        class="category-tile__control"
	        ng-click="$ctrl.toggleCategoryExpand(true, $event)">
	        x
	    </button>
        <ul class="subcategories-list">
            <li ng-repeat="subcategory in ::$ctrl.category.children">
                <a
                    class="subcategories-list__element"
                    ng-click="$event.stopPropagation()"
                    ui-sref="category(subcategory.stateParams)">
                    {{::subcategory.name}}
                </a>
            </li>
        </ul>
    </div>
</div>
