@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$header-height: 400px;
$header-height--md: 280px;
$header-brand-size: 300px;
$header-height--xs: 115px;
$header-brand-size--xs: 79px;
$header-brand-size--md: 200px;

.header {
	height: $header-height;
	background: $grey-1;
	overflow: hidden;

	.xs & {
		height: $header-height--xs;
	}

	.md & {
		height: $header-height--md;
	}
}

.header__background-image {
	height: $header-height;
	background-position: center;

	.xs & {
		height: $header-height--xs;
	}

	.md & {
		height: $header-height--md;
	}
}

.header__brand-image {
	@include position-absolute(50px, auto, auto, 0);
	cursor: pointer;

	.xs & {
		@include position-absolute(0, auto, auto, 0);
		height: $header-brand-size--xs;
	}

	.md & {
		@include position-absolute(50px, auto, auto, calc(50% - 384px));
		height: $header-brand-size--md;
	}

	.xl & {
		@include position-absolute(50px, auto, auto, calc(50% - 585px));
	}
}
