@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$playlist-tile-width: 275px;
$playlist-tile-height: 300px;
$playlist-tile-offset: 24px;

playlist-tile {
	@include border-bottom(6px, solid, $grey-3);
    position: relative;
    float: left;
    width: $playlist-tile-width;
    min-height: $playlist-tile-height;
    background: $grey-1;
    cursor: pointer;
    margin: 0 $playlist-tile-offset $playlist-tile-offset 0;

	&:nth-child(4n) {
		margin-right: 0;
	}

    .playlist-tiles--horizontal & {
        float: none;
        width: auto;
        display: block;
        margin-bottom: $distance-md;
    }

	.xs & {
		width: 48%;
		margin: 0 4% 4% 0;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}

.playlist-tile__image {
    width: 100%;
    z-index: $z-index-1;

    .playlist-tiles--horizontal & {
        @include position-absolute(0, auto, 0, 0);
    }
}

.playlist-tile-meta {
    overflow: hidden;
    padding: $distance-sm $distance-sm $distance-md;
}

.playlist-tile-meta__title {
	margin-top: 0;
	text-transform: uppercase;
}

.playlist-tile-meta__dash {
	float: left;
}

.playlist-tile-meta__content {
	float: right;
	width: 92%;
}

.playlist-tile__summary {
	margin-top: 0;

	.xs & {
		display: none;
	}
}

.playlist-tile__description {
	.xs & {
		margin-top: 0;
	}
}
