@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$playlist-tile-width: 275px;
$playlist-tile-height: 300px;
$playlist-tile-offset: 24px;
$playlist-tile-height: 440px;
$playlist-tile-height--horizontal: 180px;
$column-right--horizontal: 977px;


playlist-tile {
	@include border-bottom(6px, solid, $grey-3);
    position: relative;
    float: left;
    width: $playlist-tile-width;
    min-height: $playlist-tile-height;
    background: $grey-1;
    margin: 0 $playlist-tile-offset $playlist-tile-offset 0;
	height: $playlist-tile-height;

	&:nth-child(4n) {
		margin-right: 0;
	}

	&:hover .playlist-tile__description {
		display: block;
	}

    .playlist-tiles--horizontal & {
        float: none;
        width: auto;
        display: block;
        margin-bottom: $distance-md;
		margin-right: 0;
		min-height: 0;
		height: $playlist-tile-height--horizontal;
		border: 0;
		background-color: transparent;

		.xs & {
			width: 100%;
			height: auto;
			margin-bottom: $distance-md;
		}
    }

	.xs & {
		width: 48%;
		margin: 0 4% 4% 0;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}

.playlist-tile {
	height: 100%;

	.playlist-tiles--horizontal & {
		height: $playlist-tile-height--horizontal;

		.xs & {
			height: auto;
		}
	}
}

.playlist-tile__image {
    width: 100%;
    z-index: $z-index-1;

    .playlist-tiles--horizontal & {
		width: auto;
		height: $playlist-tile-height--horizontal;
		float: left;

		.xs & {
			height: 50vw;
		}
    }
}

.playlist-tile-meta {
    overflow: hidden;
    padding: $distance-sm $distance-sm $distance-md;
	position: absolute;
	bottom: 0;
	width: $playlist-tile-width;
	background-color: $grey-1;
	box-sizing: border-box;

	.playlist-tiles--horizontal & {
		float: left;
		width: $column-right--horizontal;
		box-sizing: border-box;
		margin-left: 15px;
		padding-left: 0;
		padding-bottom: 0;
		height: $playlist-tile-height--horizontal / 2;
		position: relative;
		background-color: inherit;

		.xs & {
			width: 50%;
			margin-left: 0;
			padding: 0 15px;
			border-bottom: 0;
			height: 50vw;
		}
	}
}

.playlist-tile-meta__title {
	margin-top: 0;
	text-transform: uppercase;

	.playlist-tiles--horizontal & {
		text-transform: none;
		margin-bottom: 5px;
	}
}

.playlist-tile-meta__dash {
	float: left;

	.playlist-tiles--horizontal & {
		display: none;
	}
}

.playlist-tile-meta__content {
	float: right;
	width: 92%;

	.playlist-tiles--horizontal & {
		float: left;
		width: auto;
	}
}

.playlist-tile__description {
	margin: 0;
	max-height: 200px;
	overflow: hidden;
	display: none;

	.playlist-tiles--horizontal & {
		display: block;
	}
}

.playlist-tile__duration {
	margin-top: 3px;

	.playlist-tiles--horizontal & {
		display: none;
	}
}

.playlist-tile__button {
	.playlist-tiles--horizontal & {
		display: none;
	}
}

.playlist-tile__tags-wrapper {
	display: none;
	box-sizing: border-box;

	.playlist-tiles--horizontal & {
		display: block;
		border-bottom: 5px solid $grey-2;
		width: $column-right--horizontal;
		float: right;
		height: $playlist-tile-height--horizontal / 2;

		.xs & {
			width: 100%;
			height: auto;
			border-bottom: 3px solid $grey-2;
		}
	}
}

.playlist-tile__tracks {
	display: none;

	.playlist-tiles--horizontal & {
		display: block;
		margin-top: 7px;

		.xs & {
			display: none;
		}
	}
}

.playlist-tile__image-wrapper {
	cursor: pointer;

	.playlist-tiles--horizontal & {
		width: $playlist-tile-height--horizontal;
		height: $playlist-tile-height--horizontal;
		position: relative;
		float: left;
		overflow: hidden;

		.xs & {
			width: 50%;
			height: 50vw;
		}
	}

	.play-button-overlay {
		display: none;

		.playlist-tiles--horizontal & {
			display: block;
		}
	}
}
