@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$playlist-tile-width: 275px;
$playlist-tile-height: 300px;
$playlist-tile-offset: 24px;
$playlist-tile-height: 440px;
$playlist-tile-height--horizontal: 180px;
$column-right--horizontal: 977px;
$playlist-tile-description-font: 15px;

playlist-tile {
	@include border-bottom(6px, solid, $grey-3);
	@include fade-in();
    position: relative;
    float: left;
    width: $playlist-tile-width;
    min-height: $playlist-tile-height;
    background: $grey-1;
    margin: 0 $playlist-tile-offset $playlist-tile-offset 0;
	height: $playlist-tile-height;

	&:nth-child(4n) {
		margin-right: 0;
	}

    .playlist-tiles--horizontal & {
        float: none;
        width: auto;
        display: block;
        margin-bottom: $distance-lg;
		margin-right: 0;
		min-height: 0;
		height: $playlist-tile-height--horizontal;
		border: 0;
		background-color: transparent;

		.xs & {
			width: 100%;
			height: auto;
			margin-bottom: $distance-md;
		}
    }

	.xs & {
		width: 48%;
		margin: 0 4% 4% 0;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}

.playlist-tile {
	height: 100%;

	.playlist-tiles--horizontal & {
		height: $playlist-tile-height--horizontal;

		.xs & {
			height: auto;
		}
	}
}

.playlist-tile__image {
    width: 100%;
    z-index: $z-index-1;

    .playlist-tiles--horizontal & {
		width: auto;
		height: $playlist-tile-height--horizontal;
		float: left;

		.xs & {
			height: 50vw;
		}
    }
}

.playlist-tile-meta {
	@include position-absolute(auto, 0, 0, 0);
	display: block;
	min-height: 155px;
    overflow: hidden;
	background-color: $grey-1;
	box-sizing: border-box;

	.xs & {
		height: calc(#{$playlist-tile-height} - 48vw);
		padding-bottom: $distance-md;
	}

	.playlist-tiles--horizontal & {
		float: left;
		width: $column-right--horizontal;
		box-sizing: border-box;
		margin-left: 15px;
		padding-left: 0;
		padding-bottom: 0;
		height: $playlist-tile-height--horizontal / 2;
		position: relative;
		background-color: inherit;
		min-height: auto;

		.xs & {
			width: 50%;
			margin-left: 0;
			padding: 0 15px;
			border-bottom: 0;
			height: 50vw;
		}
	}
}

.playlist-tile-meta__title {
	@include ellipsis();
	margin: $distance-sm 0 $distance-sm (1.5 * $distance-sm);
	text-transform: uppercase;

	.xs & {
		font-size: 16px;
		margin-bottom: ($distance-sm / 2);
	}

	.playlist-tiles--horizontal & {
		text-transform: none;
		margin-bottom: 5px;
		margin-left: 0;
	}
}

.playlist-tile-meta__dash {
	float: left;
	margin-left: $distance-sm;

	.playlist-tiles--horizontal & {
		display: none;
	}
}

.playlist-tile-meta__content {
	padding: 0 $distance-sm 0 ($distance-md + $distance-sm);

	.playlist-tiles--horizontal & {
		padding-left: 0;
	}
}

.playlist-tile-description {
	height: $distance-md;
	overflow: hidden;
	max-height: 200px;
	transition: height .2s ease;

	.xs & {
		height: 120px;
		font-size: $playlist-tile-description-font;
	}
}

.playlist-tile-description__content {
	margin: 0;
	overflow: hidden;
	transition: font-weight .2s linear;
	padding-bottom: $distance-sm;
	font-weight: 600;

	.xs & {
		font-weight: 400;
	}

	.playlist-tile--expanded & {
		font-weight: 400;
	}

	.playlist-tiles--horizontal & {
		font-weight: 400;
	}
}

.playlist-tile__duration {
	margin-top: 3px;
	margin-bottom: $distance-md;
	display: block;

	.xs & {
		font-size: 15px;
		margin-top: 2px;
		margin-bottom: 13px;
	}

	.playlist-tiles--horizontal & {
		display: none;
	}
}

.playlist-tile__button {
	margin-left: 3 * $distance-sm;
	margin-bottom: $distance-md;

	.xs & {
		font-size: 24px;
		width: 35vw;
		height: 45px;
		border-radius: $distance-md;
		margin-bottom: 0;
		display: block;
	}

	.playlist-tiles--horizontal & {
		display: none;
	}
}

.playlist-tile__tags-wrapper {
	display: none;
	box-sizing: border-box;

	.playlist-tiles--horizontal & {
		display: block;
		border-bottom: 5px solid $grey-2;
		width: $column-right--horizontal;
		float: right;
		height: $playlist-tile-height--horizontal / 2;

		.xs & {
			width: 100%;
			height: auto;
			border-bottom: 3px solid $grey-2;
		}
	}
}

.playlist-tile__tracks {
	display: none;

	.playlist-tiles--horizontal & {
		display: block;
		margin-top: 7px;
		margin-bottom: $distance-sm;

		.xs & {
			display: none;
		}
	}
}

.playlist-tile__overlay {
	@include position-absolute(0, 0, 0, 0);
	background: none;
	transition: background .2s ease;

	.playlist-tile--expanded & {
		background: $opacity-3;
	}
}

.playlist-tile__image-wrapper {
	cursor: pointer;

	.playlist-tiles--horizontal & {
		width: $playlist-tile-height--horizontal;
		height: $playlist-tile-height--horizontal;
		position: relative;
		float: left;
		overflow: hidden;

		.xs & {
			width: 50%;
			height: 50vw;
		}
	}
}

play-button {
	@include flex-middle();
	@include position-absolute(0, 0, auto, 0);
	height: 0;
	overflow: hidden;
	background: none;
	transition: background .2s ease;

	.playlist-tiles--horizontal .playlist-tile__image-wrapper:hover & {
		bottom: 0;
		height: auto;
		background: $opacity-3;
	}
}

.play-button__icon {
	width: 45px;
	height: 45px;
	opacity: 0;
	transition: opacity .2s ease;

	.playlist-tile--expanded & {
		opacity: 1;
	}

	.playlist-tiles--horizontal & {
		opacity: 1;
	}
}
