<div class="playlist-tile" playlist-tile>
	<div
		class="playlist-tile__image-wrapper"
		ui-sref="playlist({
			localPlaylistId: $ctrl.playlist.id
		})">
		<div class="playlist-tile__overlay"></div>
		<img
		    class="playlist-tile__image"
		    ng-src="{{::$ctrl.playlist.image || $ctrl.defaultPlaylistTileImage}}"/>
		<play-button>
			<i class="icon-play play-button__icon"></i>
		</play-button>
	</div>
	<figcaption class="playlist-tile-meta">
		<h3
			class="playlist-tile-meta__title text--md"
			ui-sref="playlist({
				localPlaylistId: $ctrl.playlist.id
			})">
			{{::$ctrl.playlist.name}}
		</h3>
		<div class="playlist-tile-meta__dash">&mdash;</div>
		<div class="playlist-tile-meta__content">
			<div class="playlist-tile-description">
				<p class="playlist-tile-description__content">
				    {{::$ctrl.playlist.description || ('PLAYLIST_NO_DESCRIPTION' | translate)}}
				</p>
			</div>
			<span class="playlist-tile__duration">
				{{::$ctrl.playlist.tracks.length}}
				<span class="playlist-header__caption--lowercase"> songs,</span>
				{{::$ctrl.playlist.total_duration | convertSeconds:'hours'}}
			</span>
		</div>
		<button
			class="btn-circled playlist-tile__button"
			type="button">
			Follow
		</button>
	</figcaption>
	<div class="playlist-tile__tags-wrapper">
		<playlist-tags
			tags="$ctrl.playlist.categories">
		</playlist-tags>
		<span class="playlist-tile__tracks">
			Track number: <strong>{{::$ctrl.playlist.tracks.length}}</strong>
		</span>
	</div>
	<div class="clear-both"></div>
</div>
