<header class="playlist-header container">
    <div class="playlist-header__column-left">
        <img
            class="playlist-header__thumbnail"
            ng-src="{{::$ctrl.playlist.image || $ctrl.defaultPlaylistTileImage}}"
            alt="Playlist thumbnail"/>
		<div
			class="play-button-overlay"
			ga-track-event="['Playlist', 'Play', $ctrl.playlist.name]"
			ng-click="$ctrl.onPlayButtonClick($ctrl.playlist); $event.stopPropagation()">
		</div>
    </div>
    <div class="playlist-header__column-right--top">
		<div class="playlist-header__info">
	        <h3 class="playlist-header__title">
	            {{::$ctrl.playlist.name}}
	        </h3>
	        <p class="playlist-header__caption">
	            {{::$ctrl.playlist.tracks.length}}
	            <span> songs,</span>
				{{::$ctrl.playlist.total_duration | convertSeconds:'hours' }}
	        </p>
			<button
				class="playlist-header__follow-button--desktop btn-circled"
				ga-track-event="['Playlist', 'Follow', $ctrl.playlist.name]"
				type="button">
				Follow
			</button>
		</div>
		<div class="playlist-header__social-icons">
			<span class="icon-twitter--blue-background"></span>
			<span class="icon-facebook--blue-background"></span>
			<span class="icon-pinterest--blue-background"></span>
		</div>
    </div>
	<div class="playlist-header__column-right--bottom">
		<p
			class="playlist-header__description"
			ng-bind-html="$ctrl.playlistDescription()">
		</p>
		<button
			class="playlist-header__follow-button--mobile btn-circled"
			ga-track-event="['Playlist', 'Follow', $ctrl.playlist.name]"
			type="button">
			Follow
		</button>
	</div>
</header>
<music-service
	is-shown="$ctrl.showModal"
	playlist="$ctrl.playlist">
</music-service>
