@import '../../shared/styles/variables';

$playlist-header-height: 275px;

.playlist-header {
	height: $playlist-header-height;
	margin: 2 * $distance-md auto $distance-md;
	background-color: $grey-1;
}

.playlist-header__column-left {
    width: $playlist-header-height;
    float: left;
	height: 100%;
	position: relative;
}

.playlist-header__column-middle {
    float: left;
	margin-left: $distance-md;
}

.playlist-header__column-right {
	float: right;
	width: 183px;
	padding: 20px 25px 0 0;
	box-sizing: border-box;
    text-align: right;
}

.playlist-header__thumbnail {
    width: 100%;
}

.playlist-header__thumbnail--overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(0, 0, 0, 0.4);
	background-image: url('/shared/images/icons/play-button.png');
	background-repeat: no-repeat;
	background-position: 50%;
}

.playlist-header__caption--lowercase {
    text-transform: lowercase;
}

.playlist-header__follow-button {
	padding: 7px 25px;
	border-radius: 18px;
	border: 0;
	background-color: $yellow;
}
