@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/icons';

$footer-height: 300px;
$footer-height--md: 250px;

.footer {
	background-color: $grey-8;
	height: $footer-height;
	text-align: center;
	color: $white;
	padding-top: 3 * $distance-md;

	.xs & {
		padding-top: 3 * $distance-sm;
	}

	.md & {
		height: $footer-height--md;
		padding-top: $distance-lg;
	}
}

.footer__brand-image {
	height: 7 * $distance-md;
}

.footer-footnote__copyright,
.footer-footnote__links {
	display: inline-block;
}

.footer-footnote__links a {
	text-decoration: none;
	color: $white;
}

.footer-footnote p {
	.xs & {
		margin: 0;
		line-height: 1.4;
	}
}

.footer__icons {
	.xs & {
		margin-top: 30px;
	}
}

.footer__icon {
	margin-left: $distance-sm;
    text-decoration: none;

	&:first-child {
		margin-left: 0;
	}
}
