<footer
	class="footer"
	ng-if="!$root.$state.is('spotifyPlayer') && !$root.$state.is('customPlayer')">
	<div class="footer-footnote">
		<p class="footer-footnote__copyright" translate="{{::'FOOTER_COPYRIGHT'}}"></p>
		<p class="footer-footnote__links">
			<span translate="{{::'ALL_RIGHTS_RESERVED'}}"></span>
			<a
				target="_blank"
				href="http://privacypolicy.umusic.com/"
				translate="{{::'PRIVACY_POLICY'}}"></a>
			<span> | </span>
			<a
				target="_blank"
				href="http://privacypolicy.umusic.com/terms/"
				translate="{{::'TERMS_OF_USE'}}"></a>
		</p>
	</div>
	<div class="footer__icons">
		<a
			class="footer__icon"
			href="https://www.facebook.com/digsterplaylists" target="_blank">
			<span class="icon-facebook"></span>
		</a>
		<a
			class="footer__icon"
			href="https://twitter.com/DigsterPlaylist" target="_blank">
			<span class="icon-twitter"></span>
		</a>
		<a
			class="footer__icon"
			href="https://open.spotify.com/user/digster.fm" target="_blank">
			<span class="icon-spotify"></span>
		</a>
		<a
			class="footer__icon"
			href="https://itunes.apple.com/us/curator/digster/id1018903101" target="_blank">
			<span class="icon-apple"></span>
		</a>
	</div>
	<img
		class="footer__brand-image"
		ng-src="{{::$ctrl.brandImage}}" />
</footer>
