@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.playlist-tiles {
    @include clearfix();
	margin-top: $distance-lg;

	.xs & {
		margin-top: $distance-md;
	}

	.md & {
		margin-top: $distance-md;
	}
}
