.top {
  width: 100%;
  margin: 0 auto 100px;
  padding: 20px 45px;

  &__image {
    max-width: 200px;
    cursor: pointer;
  }

  &__user {
    float: right;

    a {
      cursor: pointer;
    }
  }
}