@import '../../shared/styles/variables';

.playlist-tags {
	background-color: initial;
	margin: $distance-lg auto;

	.xs & {
		padding: 0 $distance-sm;
	}

	.playlist-tile & {
		display: none;
	}

	.playlist-tiles--horizontal & {
		display: block;
		margin: 5px auto;

		.xs & {
			margin: $distance-md 0 12px 0;
		}
	}
}

.playlist-tags__label {
	.xs & {
		display: none;
	}

	.playlist-tiles--horizontal & {
		display: block;
		margin-bottom: 5px;
		font-weight: 600;

		.xs & {
			display: none;
		}
	}
}

.tags-list {
	display: inline;
	padding-left: 0;
}

.tags-list__item {
	list-style: none;
	display: inline-block;
	background-color: $grey-7;
	color: $white;
	line-height: 26px;
	padding: 0 7px;
	margin-left: 3px;

	.xs & {
		margin-bottom: 8px;
	}

	&:hover {
		background-color: $yellow;
		color: $black;
	}

	.playlist-tiles--horizontal & {
		&:first-child {
			margin-left: 0;
		}

		.xs & {
			&:first-child {
				margin-left: 3px;
			}
		}
	}
}
