@import '../../shared/styles/variables';

player-track-list {
	display: block;
	height: 398px;
}

.player-track-list {
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	background-color: $black;
	color: $white;
	font-size: .8rem;
    overflow: auto;
	padding: 0;

	&::-webkit-scrollbar-track {
		border-left: 2px solid $grey-6;
		background-color: $black;
	}

	&::-webkit-scrollbar {
		width: 17px;
		background-color: $black;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $yellow;
		border: 4px solid rgba(0, 0, 0, 0);
		background-clip: padding-box;
		border-radius: $distance-sm;
	}
}
.player-track-list__item {
	cursor: pointer;
	list-style: none;
	border-bottom: 1px solid $white;
	padding: 5px 2px;

	&:hover,
	&:focus {
		background-color: $yellow;
		color: $black;
		transition: 500ms;
	}
}
