@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.categories-dropdown-wrapper {
    background-color: $grey-7;
    overflow: hidden;
    z-index: 100;
    font-size: initial;
	position: absolute;
	top: 96px;
	padding: $distance-md 0 3 * $distance-sm;

	.xs & {
		top: 56px;
		width: 100%;
	}
}

.categories-dropdown__list {
	background-color: $grey-7;
    margin: 0;
    padding: 0 20px;
	column-width: 283px;
    column-gap: 0;
    column-count: 4;

	.xs & {
		column-width: 160px;
	    column-count: 2;
	}
}

.categories-list__item {
    list-style: none;
    line-height: $distance-lg;
    background-color: $grey-7;
    cursor: pointer;
	box-sizing: border-box;
}

.categories-list__link {
    width: 100%;
    display: inline-block;
	padding: 0 3* $distance-sm 0 $distance-sm;
	box-sizing: border-box;
	font-size: 27px;
	text-decoration: none;
	color: $white;
	transition: .3s;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	&:hover {
		color: $yellow;
		text-decoration: underline;
	}

	.xs & {
		font-size: 21px;
	}
}

.categories-list__item.active {
	background-color: $white;
}

.categories-dropdown {
    width: 1172px;
    float: left;
    background-color: $grey-5;

	.xs & {
		width: 100%;
	}
}
