<div
	class="player-spotify"
	ng-class="{
		'player-spotify--minified': $ctrl.isPlayerMinified,
		'player-spotify--popup': $ctrl.popup,
		'player-spotify--maximized': $ctrl.isMaximized
	}">
	<div class="player-spotify__widget-controls">
		<div
			class="player-spotify__popup-button"
			ng-click="$ctrl.showPopup()"
			ng-show="!$ctrl.popup">
		</div>
		<div
			class="player-spotify__toggle-button"
			ng-click="$ctrl.toggle()"
			ng-class="{active: $ctrl.isPlayerMinified}"></div>
		<div
			class="player-spotify__maximize-button"
			ng-click="$ctrl.maximize()"
			ng-class="{active: $ctrl.isMaximized}"></div>
		<div
			class="player-spotify__close-button"
			ng-click="$ctrl.close()"></div>
	</div>
	<iframe
		ng-if="$ctrl.playerShown || $ctrl.popup"
		ng-src="{{$ctrl.playerUrl()}}"
		ng-show="$ctrl.playerIsLoaded"
		is-loaded="$ctrl.setPlayerLoaded()"
		frameborder="0"
		allowtransparency="true">
	</iframe>
	<div
		ng-hide="$ctrl.playerIsLoaded"
		class="player-custom__loader">
	</div>
</div>
