<div class="category container">
    <h2>Category</h2>

    <button
        ng-hide="$ctrl.playlistLayout === 'horizontal'"
        ng-click="$ctrl.playlistLayout = 'horizontal'">
        Set playlists horizontal
    </button>
    <button
        ng-show="$ctrl.playlistLayout === 'horizontal'"
        ng-click="$ctrl.playlistLayout = 'tiles'">
        Set playlists tiles
    </button>

    <category-tiles
        ng-if="$ctrl.category.children.length"
        categories="$ctrl.category.children">
    </category-tiles>

    <playlist-tiles
        ng-if="!$ctrl.category.children.length"
        layout="$ctrl.playlistLayout"
        playlists="$ctrl.playlists">
    </playlist-tiles>
</div>
