<div class="nav">
    <div class="nav__item">
        <div class="nav-button">
            icon
        </div>
    </div>
    <div class="nav__item">
        <div class="account-button">
            My account
        </div>
    </div>
    <div class="nav__item">
        <breadcrumb></breadcrumb>
    </div>
    <div class="nav__item nav__item__right">
        <div class="nav-button">
            search
        </div>
    </div>
    <div class="nav__item nav__item__right">
        <div class="nav-button">
            tags
        </div>
    </div>
    <div class="nav__item nav__item__right">
        <div class="nav-button">
            view
        </div>
    </div>
    <div class="nav__item nav__item__right">
        <div class="account-logout">
            Logout
        </div>
    </div>
</div>
