<div class="nav container text--semibold">
    <div class="nav__item">
        <div
            class="nav-button nav-menu-button"
            ng-click="showCategories = !showCategories; $event.stopPropagation();">
			<span class="icon-hamburger--full-width"></span>
        </div>
    </div>
    <div class="nav__item music-service text--lg" translate="{{::'MUSIC_SERVICE'}}">

    </div>
    <div class="nav__item nav-breadcrumb text--lg">
        <breadcrumb></breadcrumb>
    </div>
    <div class="nav__item nav__item__right">
        <div
			class="nav-button"
			ui-sref="tags">
			<span class="icon-tags--full-width"></span>
        </div>
    </div>
    <div class="nav__item nav__item__right">
        <div class="nav-button">
			<span class="icon-tiles--full-width"></span>
        </div>
    </div>
	<div class="nav__item nav__item__right">
		<div class="nav-button">
			<span class="icon-search--full-width"></span>
		</div>
	</div>
    <categories-dropdown is-shown="showCategories"></categories-dropdown>
</div>
