@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';
@import '../../shared/styles/animations';
@import '../../shared/styles/icons';

$nav-height: 56px;
$my-service-dropdown-width: 224px;
$my-service-dropdown-width--md: 184px;
$nav-margin-width: 5px;
$nav-height--xs: 36px;
$nav-margin-width--xs: 3px;
$nav-height--md: 46px;
$nav-margin-width--md: 4px;

.nav {
    height: $nav-height;
    font-size: 0;
	margin-top: -$nav-height;
	line-height: $nav-height;
	background-color: initial;
	position: relative;

	.xs & {
		height: $nav-height--xs;
		margin-top: -$nav-height--xs;
		line-height: $nav-height--xs;
	}

	.md & {
		height: $nav-height--md;
		margin-top: -$nav-height--md;
		line-height: $nav-height--md;
	}
}

.nav__item {
    display: inline-block;
	background-color: $yellow;
    height: $nav-height;
    vertical-align: top;
    margin-left: $nav-margin-width;
	transition: all .35s ease;

	&:first-child {
        margin-left: 0;
    }

	.xs & {
		height: $nav-height--xs;
		margin-left: $nav-margin-width--xs;

		&:first-child {
	        margin-left: 0;
	    }
	}

	.md & {
		height: $nav-height--md;
		margin-left: $nav-margin-width--md;

		&:first-child {
	        margin-left: 0;
	    }
	}
}

.nav-button {
	cursor: pointer;
    height: $nav-height;
    width: $nav-height;
    position: relative;

	&--active {
		background: $black;
	}

	.xs & {
		height: $nav-height--xs;
	    width: $nav-height--xs;
	}

	.md & {
		height: $nav-height--md;
	    width: $nav-height--md;
	}
}

.nav-button__icon {
	position: absolute;
	top: 9px;
	left: 9px;
	width: 38px;

	.xs & {
		top: 3px;
		left: 3px;
		width: 30px;
	}
}

.nav__item__right {
    float: right;
}

.my-service-dropdown {
	width: $my-service-dropdown-width;
	text-align: center;
	cursor: pointer;

	.xs & {
		width: calc(100% - #{4 * $nav-height--xs + 4 * $nav-margin-width--xs});
		text-align: center;
	}

	.md & {
		width: $my-service-dropdown-width--md;
	}
}

.nav-searchbar {
	width: calc(100% - #{$my-service-dropdown-width + 1 * $nav-height + 2 * $nav-margin-width});
	box-sizing: border-box;

	.xs & {
		display: none;
	}

	.md & {
		width: calc(100% - #{$my-service-dropdown-width--md + 4 * $nav-height--md + 5 * $nav-margin-width--md});
	}
}

%nav-item--clicked {
	color: $white;
	position: relative;
	background-color: $grey-7;
}

.nav__item--search-clicked {
	@extend %nav-item--clicked;
}

.nav__item--menu-clicked {
	@extend %nav-item--clicked;
}

.my-service-dropdown--clicked {
	@extend %nav-item--clicked;
}

.my-service-dropdown__title {
	margin: 0;
}
