<div class="nav container">
    <div class="nav__item">
        <div
            class="nav-button nav-menu-button"
            ng-click="showCategories = !showCategories; $event.stopPropagation();">
			<span class="icon-hamburger"></span>
        </div>
    </div>
    <div class="nav__item music-service" translate="{{::'MUSIC_SERVICE'}}">

    </div>
    <div class="nav__item nav-breadcrumb">
        <breadcrumb></breadcrumb>
    </div>
    <div class="nav__item nav__item__right">
        <div class="nav-button">
			<span class="icon-tags"></span>
        </div>
    </div>
    <div class="nav__item nav__item__right">
        <div class="nav-button">
			<span class="icon-tiles--big"></span>
        </div>
    </div>
	<div class="nav__item nav__item__right">
		<div class="nav-button">
			<span class="icon-search"></span>
		</div>
	</div>
    <categories-dropdown is-shown="showCategories"></categories-dropdown>
</div>
