@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$search-tile-width: 574px;
$search-tile-height: 275px;

.search-tile {
	width: $search-tile-width;
	height: $search-tile-height;
	margin-bottom: $distance-md;
	background-size: cover;
	position: relative;

	.xs & {
		width: 100%;
		height: 50vw;
	}
}
