@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

$search-tile-width: 574px;
$search-tile-height: 275px;
$search-tile-width--md: 376px;
$search-tile-height--md: 180px;

.search-tile {
	@include fade-in();
	float: left;
	width: $search-tile-width;
	height: $search-tile-height;
	margin-bottom: $distance-md;
	background-size: cover;
	position: relative;

	background-color: $black;
	color: $white;
	text-align: center;

	h3{
		font-size: 35px;
		margin-bottom: 0;
	}

	h4{
		font-size: 25px;
		font-weight: 100;
		margin-top: -12px;
		letter-spacing: 2px;
	}

	.xs & {
		width: 100%;
		height: 50vw;
		margin-bottom: 0;
	}

	.md & {
		width: $search-tile-width--md;
		height: $search-tile-height--md;
		margin-bottom: 16px;
	}
}
